

<div class='float-left'><span class='k-icon k-i-question' style='font-size: 55px; margin: 10px'></span></div>
<p style='height: 100px;'>¿Está seguro que desea eliminar el registro?</p>

<div class='float-right'><button class='k-button k-button-md k-rounded-md k-button-solid k-button-solid-primary' id='yesButton' style='width: 75px;'>Si</button> <button class='k-button' id='noButton' style='width: 75px;'>No</button></div>
