@{
    ViewBag.Title = "Cotización por Muestras Datos";
    ViewBag.IdVersion = "TSM0101087|v19121601";
}
@section Scripts {
    <script type="text/javascript">
        var vIdCoti =@ViewData["IdCotizacion"];
        var vEstCoti="@ViewData["IdEstado"]";

    </script>
    <script src="~/Scripts/js/CotizacionesMuestrasDatos.js"></script>
}

<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group col-lg-12">
                    <div id="TabCotizacion">
                        <ul>
                            <li class="k-state-active">
                                Detalle
                            </li>
                            <li>
                                Condiciones
                            </li>
                            <li>
                                Impresión
                            </li>
                        </ul>
                        <div id="TabPDetalle">
                            <div id="TabCotizacionDet">
                                <ul>
                                    <li class="k-state-active">
                                        Cotización
                                    </li>
                                    <li>
                                        Totales
                                    </li>
                                </ul>
                                <div id="TabPVariable">
                                    <div class="form-group col-lg-12">
                                        <div class="form-row">
                                            <div class="form-group col-lg-10">
                                                <div class="input-group">
                                                    <div style="width: 100%;">
                                                        <button type="button" id="btnGeneraCotiPro" name="btnGeneraCotiPro"> </button>
                                                        <button type="button" id="btnCambioEstado" name="btnCambioEstado"> </button>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group col-lg-2 align-self-end">
                                                <div class="input-group">
                                                    <div style="width: 100%;">
                                                        <button type="button" id="btnIrCoti" name="btnIrCoti">Ir a Cotizaciones</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-row">
                                            <div class=" form-group col-lg-12"><div id="gridCotizacionDetalle"></div></div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-md-12 col-lg-12"> <label class="font-weight-bold">Unidades </label></div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-lg-3">
                                                <label for="TxtCntPiezas">Cnt. Piezas:</label>
                                                <input id="TxtCntPiezas" name="TxtCntPiezas" class="form-control" />
                                            </div>
                                            <div class="form-group col-lg-3">
                                                <label for="TxtCntDocena">Cnt. de Docenas:</label>
                                                <input id="TxtCntDocena" name="TxtCntDocena" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12 col-lg-12"> <label class="font-weight-bold">Datos de Costos</label></div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-lg-3">
                                                <label for="TxtCM">Costo de Materia Prima Total:</label>
                                                <input id="TxtCM" name="TxtCM" class="form-control" />
                                            </div>
                                            <div class="form-group col-lg-3">
                                                <label for="TxtCostoMOD">Costo de Mano de Obra Directa:</label>
                                                <input id="TxtCostoMOD" name="TxtCostoMOD" class="form-control" />
                                            </div>
                                            <div class="form-group col-lg-3">
                                                <label for="TxtCostoPrimo">Costo Primo:</label>
                                                <input id="TxtCostoPrimo" name="TxtCostoPrimo" class="form-control" />
                                            </div>
                                            <div class="form-group col-lg-3">
                                                <label for="TxtCostoFra">Costo Fabril Total:</label>
                                                <input id="TxtCostoFra" name="TxtCostoFra" class="form-control" />
                                            </div>

                                        </div>
                                        <div class="form-row">

                                            <div class="form-group col-lg-3">
                                                <label for="TxtCostoProduccion">Costo Producción:</label>
                                                <input id="TxtCostoProduccion" name="TxtCostoProduccion" class="form-control" />
                                            </div>
                                            <div class="form-group col-lg-3">
                                                <label for="TxtCostoOper">Costo Operación:</label>
                                                <input id="TxtCostoOper" name="TxtCostoOper" class="form-control" />
                                            </div>
                                            <div class="form-group col-lg-3">
                                                <label for="TxtCostoTotal">Costo Total:</label>
                                                <input id="TxtCostoTotal" name="TxtCostoTotal" class="form-control" />
                                            </div>
                                            <div class="form-group col-lg-3">
                                                <label for="TxtCostoUnitario">Costo por pieza:</label>
                                                <input id="TxtCostoUnitario" name="TxtCostoUnitario" class="form-control" />
                                            </div>

                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12 col-lg-12"> <label class="font-weight-bold">Datos de Utilidad </label></div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-3">
                                                <label for="TxtPorcUtilidadConsiderada">% Utilidad Considerada:</label>
                                                <input id="TxtPorcUtilidadConsiderada" name="TxtPorcUtilidadConsiderada" class="form-control" />
                                            </div>
                                            <div class="form-group col-lg-3">
                                                <label for="TxtUtilidadDolares">Utilidad:</label>
                                                <input id="TxtUtilidadDolares" name="TxtUtilidadDolares" class="form-control" />
                                            </div>

                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12 col-lg-12"> <label class="font-weight-bold">Datos de Precio</label></div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-lg-4">
                                                <label for="TxtPrecioCliente">Precio Cliente:</label>
                                                <input id="TxtPrecioCliente" name="TxtPrecioCliente" class="form-control" />
                                            </div>
                                            <div class="form-group col-lg-4">
                                                <label for="TxtPrecioTS">Precio Techno Screen:</label>
                                                <input id="TxtPrecioTS" name="TxtPrecioTS" class="form-control" />
                                            </div>
                                            <div class="form-group col-lg-4">
                                                <label for="TxtPrecioVenta">Precio Venta:</label>
                                                <input id="TxtPrecioVenta" name="TxtPrecioVenta" class="form-control" />
                                            </div>

                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-lg-4">
                                                <label for="TxtFacturaClie">Facturación Cliente $:</label>
                                                <input id="TxtFacturaClie" name="TxtFacturaClie" class="form-control" />
                                            </div>
                                            <div class="form-group col-lg-4">
                                                <label for="TxtFacturaTech">Facturación Techno $:</label>
                                                <input id="TxtFacturaTech" name="TxtFacturaTech" class="form-control" />
                                            </div>
                                            <div class="form-group col-lg-4">
                                                <label for="TxtFacturacionVenta">Facturación Venta $:</label>
                                                <input id="TxtFacturacionVenta" name="TxtFacturacionVenta" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="TabPResumen">
                                    <div class="form-group col-lg-12">
                                        <div class="form-row">
                                            <div class="form-group col-lg-8">
                                                <div class="form-row">
                                                    <div class="form-group col-lg-4">
                                                        <label for="TxtPrecioPon">Precio ponderado cliente:</label>
                                                    </div>
                                                    <div class="form-group col-lg-4">
                                                        <input id="TxtPrecioPon" name="TxtPrecioPon" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-lg-4">
                                                        <label for="TxtPrecioPonTechno">Precio ponderado Techno:</label>
                                                    </div>
                                                    <div class="form-group col-lg-4">
                                                        <input id="TxtPrecioPonTechno" name="TxtPrecioPonTechno" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-lg-4">
                                                        <label for="TxtDiferencia">Diferencia:</label>
                                                    </div>
                                                    <div class="form-group col-lg-4">
                                                        <input id="TxtDiferencia" name="TxtDiferencia" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-lg-4">
                                                        <label for="TxtMargenNetoP">Margen neto precio cliente:</label>
                                                    </div>
                                                    <div class="form-group col-lg-4">
                                                        <input id="TxtMargenNetoP" name="TxtMargenNetoP" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-lg-4">
                                                        <label for="TxtMargenNetoPTech">Margen neto precio Techno:</label>
                                                    </div>
                                                    <div class="form-group col-lg-4">
                                                        <input id="TxtMargenNetoPTech" name="TxtMargenNetoPTech" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-lg-4">
                                                        <label for="TxtFacturaTotalCliente">Total Factura Cliente:</label>
                                                    </div>
                                                    <div class="form-group col-lg-4">
                                                        <input id="TxtFacturaTotalCliente" name="TxtFacturaTotalCliente" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-lg-4">
                                                        <label for="TxtFacturaTotalTS">Total Factura Techno:</label>
                                                    </div>
                                                    <div class="form-group col-lg-4">
                                                        <input id="TxtFacturaTotalTS" name="TxtFacturaTotalTS" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-lg-4">
                                                        <label for="TxtFacturaTotalVenta">Total Factura Venta:</label>
                                                    </div>
                                                    <div class="form-group col-lg-4">
                                                        <input id="TxtFacturaTotalVenta" name="TxtFacturaTotalVenta" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-4" id="Div_Carousel">
                                                @* espacio reservad para la vista carrousel *@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="TabPDatos">
                            <div class="form-group col-lg-12">
                                <form id="frmCondiciones" method="POST" enctype="multipart/form-data" autocomplete="on">
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="TxtNombre">Nombre del Programa:</label>
                                                    <input id="TxtNombre" name="TxtNombre" class="k-textbox form-control" disabled="disabled" value="" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="TxtContacto">Contact:</label>
                                                    <input id="TxtContacto" name="TxtContacto" class="k-textbox form-control" />
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="TxtPrecioDesarrolloMuestra">Sample development price:</label>
                                                    <input id="TxtPrecioDesarrolloMuestra" name="TxtPrecioDesarrolloMuestra" class="k-textbox form-control" />
                                                </div>

                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="txtRepeticionesDesarrollo">N° of repeats:</label>
                                                    <input id="txtRepeticionesDesarrollo" name="txtRepeticionesDesarrollo" class="k-textbox form-control" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="TxtCondicionPagoDesarrollo">Payament conditions:</label>
                                                    <input id="TxtCondicionPagoDesarrollo" name="TxtCondicionPagoDesarrollo" class="k-textbox form-control" />
                                                </div>

                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="TxtNumeroSeteos">Number of set-up's:</label>
                                                    <input id="TxtNumeroSeteos" name="TxtNumeroSeteos" class="k-textbox form-control" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="txtPrecioSetupAdicional">Additional set-up price:</label>
                                                    <input id="txtPrecioSetupAdicional" name="txtPrecioSetupAdicional" class="k-textbox form-control" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="txtPrecioAdicionalColorTela">Price per additional CW:</label>
                                                    <input id="txtPrecioAdicionalColorTela" name="txtPrecioAdicionalColorTela" class="k-textbox form-control" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="txtExcesoSetup">If the N° of set-up's exceds:</label>
                                                    <input id="txtExcesoSetup" name="txtExcesoSetup" class="k-textbox form-control" />
                                                </div>
                                            </div>

                                            <div class="form-row"> <div class="form-group col-lg-12"></div></div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-3"></div>
                                                <div class="form-group col-lg-9 ">
                                                    <input type="checkbox" id="chkCotizaPromedio" class="k-checkbox form-control">
                                                    <label class="k-checkbox-label" for="chkCotizaPromedio">Cotiza por average</label>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-3"></div>
                                                <div class="form-group col-lg-9">
                                                    <input type="radio" id="chkPrecioPreliminar" name="GTipoPrecio" class="k-radio form-control">
                                                    <label class="k-radio-label" for="chkPrecioPreliminar">Preliminary price</label>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-3"></div>
                                                <div class="form-group col-lg-9">
                                                    <input type="radio" id="chkFinalCotizacion" name="GTipoPrecio" class="k-radio form-control">
                                                    <label class="k-radio-label" for="chkFinalCotizacion">Final quote</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="TxtPrecioVendedorCTL">CTL's sample or vendor's sample price:</label>
                                                    <input id="TxtPrecioVendedorCTL" name="TxtPrecioVendedorCTL" class="k-textbox form-control" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="txtRepeticionesCTL">N° of repeats:</label>
                                                    <input id="txtRepeticionesCTL" name="txtRepeticionesCTL" class="k-textbox form-control" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="TxtCondicionPagoCTL">Payament conditions:</label>
                                                    <input id="TxtCondicionPagoCTL" name="TxtCondicionPagoCTL" class="k-textbox form-control" />
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="TxtTransporte">Transport:</label>
                                                    <input id="TxtTransporte" name="TxtTransPorte" class="k-textbox form-control" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="TxtCondicionPagoProduccion">Payament condtions:</label>
                                                    <input id="TxtCondicionPagoProduccion" name="TxtCondicionPagoProduccion" class="k-textbox form-control" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="txtPrecioSetup">Set-up price:</label>
                                                    <input id="txtPrecioSetup" name="txtPrecioSetup" class="k-textbox form-control" />
                                                </div>

                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="txtTerminosPago">Payment terms:</label>
                                                    <input id="txtTerminosPago" name="txtTerminosPago" class="k-textbox form-control" />
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="TxtPorcentajeSegundos">Porcetage of second's:</label>
                                                    <input id="TxtPorcentajeSegundos" name="TxtPorcentajeSegundos" class="k-textbox form-control" />
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <label for="TxtComentarios">Technical aspect to consider:</label>
                                                    <textarea id="TxtComentarios" name="TxtComentarios" aria-label="editor"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-lg-6 align-self-end">
                                                    <button type="submit" id="btnGuardar" name="Guardar"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="tabImpresion" class="form-group col-lg-12">
                            <div class="form-control p-lg-4">
                                <div class="form-row">
                                    <div class="col-3">
                                        <form id="frmImprimirCot" target="_blank" onsubmit="fn_UrlReporteCotizacionMue()">
                                            <button type="submit" id="btnImprimir">Cotización de Programas</button>
                                        </form>
                                    </div>
                                    <div class="col-3">
                                        <form id="frmImprimirRen" target="_blank" onsubmit="fn_UrlReporteRentabilidadMue()">
                                            <button type="submit" id="btnImpRentabilidad">Rentabilidad de Programas</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @*Etiqueta vista parcial cambio de estado*@
    <div class="form-control col-md-12 col-lg-12" id="vCambioEstado"></div>
</div>
