@{
    ViewBag.Title = "Cotización por Muestra";
    ViewBag.IdVersion = "TSM0101087|v19121601";
}
@section Scripts {
    <script src="~/Scripts/js/CotizacionesMuestras.js?@ViewBag.IdVersion"></script>
}

<style type="text/css">
    .k-edit-form-container {
        width: initial;
    }
</style>

<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="CmbIdCliente">Cliente :</label>
                        <input id="CmbIdCliente" name="CmbIdCliente" class="form-control" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="CmbPrograma">Programa:</label>
                        <input id="CmbPrograma" name="CmbPrograma" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-5 align-self-end pr-3" style="text-align: start;">
                        <button type="button" id="btnEliminaFiltros" name="btnEliminaFiltros"></button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <div id="gridCotizacion"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>