
<div class="row mb-3">
    <div class="col-12 text-right">
        <button type="button" id="btnGuardarRegistro">Guardar Registro</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="gridEmbalajesRevision"></div>
    </div>
</div>