
<div class="row mb-3">
    <label for="cmbUnidadEmbalaje" id="lblUnidadEmbalaje">Unidad de Embalaje:</label>
    <input id="cmbUnidadEmbalaje" name="cmbUnidadEmbalaje" class="form-control" />
</div>
<div class="row mb-3">
    <div id="gridCortes"></div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <button type="button" id="btnGuardarRegistro">Guardar Registro</button>
    </div>
</div>