@{
    ViewBag.Title = "Secuencias Numéricas";
    ViewBag.IdVersion = "TSM0101011|v18052901";
}
@section Scripts {
    <script type="text/javascript">
        var crudServiceBaseUrl = "@string.Format("{0}SecuenciasNumericas", TSM.Utils.Config.TSM_WebApi)"
        var VistaTablasUlr = "@string.Format("{0}Tablas", TSM.Utils.Config.TSM_WebApi)"
        var VistaEstadosUlr = "@string.Format("{0}Estados", TSM.Utils.Config.TSM_WebApi)"
    </script>
    <script src="~/Scripts/js/SecuenciasNumericas.js"></script>
}
<div class="form-row">
    <div class="form-group col-lg-12"> <h4>Secuencias Numéricas</h4></div>
    <div class="form-group col-lg-12">
        <div id="grid"></div>
    </div>
</div>





