@{
    ViewBag.Title = "Definición de Etapas de Procesos";
    ViewBag.IdVersion = "TSM0101042|v19010701";
}

@section Scripts {
    <script type="text/javascript">
        var crudServiceBaseUrl = "@string.Format("{0}EtapasProcesos", TSM.Utils.Config.TSM_WebApi)";
        var UrlModulos = "@string.Format("{0}Modulos", TSM.Utils.Config.TSM_WebApi)";
    </script>
    <script src="~/Scripts/js/EtapasProcesos.js"></script>
}

<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="cmbModulo">Módulo:</label>
                    <input id="cmbModulo" class="form-control"/>
                </div>
                <div class="form-group">
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </div>
    
</div>