
@{
    ViewBag.Title = "Consulta de Solicitudes";
    ViewBag.IdVersion = "TSM0101060|v19092001";

}

@section Scripts{
    <script type="text/javascript">
        var vIdServSol = @ViewData["idServicio"];
        var idEstado = "@ViewData["idEstado"]";
    </script>
    <script src="~/Scripts/js/SolicitudesPendientes.js?@ViewBag.IdVersion"></script>
}

<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <div id="grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>