@{
    ViewBag.Title = "Definición de Programas";
    ViewBag.IdVersion = "TSM0101010|v18061301";
}
@section Scripts {
    <script type="text/javascript">
        var crudServiceBaseUrl = "@string.Format("{0}Programas", TSM.Utils.Config.TSM_WebApi)"
        var crudDetaBaseUrl = "@string.Format("{0}Boards", TSM.Utils.Config.TSM_WebApi)"
        var VistaClienteUrl = "@string.Format("{0}Clientes", TSM.Utils.Config.TSM_WebApi)"
        var VistaTempradaUlr="@string.Format("{0}Temporadas", TSM.Utils.Config.TSM_WebApi)"
    </script>
    <script src="~/Scripts/js/Programas.js"></script>
}
<div class="form-row">
    <div class="form-group col-lg-12">
        <h3>Definición de Programas</h3>
    </div>
    <div class="form-group col-lg-12">
        <label for="CmbCliente" style="font-size: 1.2em;">Cliente:</label>
        <input id="CmbCliente" style="width: 450px;" />
    </div>
    <div class="form-group col-lg-12">
        <div id="grid"></div>
    </div>
</div>

