@{
    ViewBag.Title = "Ordenes de Trabajo";
}

<h2 id="lblNomIdEtapaProceso"></h2>

@section Scripts{
    <script type="text/javascript">
        var idOrdenTrabajo = @ViewBag.IdOrdenTrabajo;
        var idEtapaProceso = @ViewBag.IdEtapaProceso;
        var nombreVista = "@ViewBag.VistaParcial";
    </script>
    <script type="text/javascript" src="~/Scripts/js/ElementoTrabajo.js"></script>
}

<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="bottom-panel">
                    <div class="form-row">
                        <div class="col-lg-2">
                            <input id="IdServicio" disabled="disabled" hidden="hidden" />
                        </div>
                        <div class="col-lg-2">
                            <input id="txtId" disabled="disabled" hidden="hidden" />
                        </div>
                        <div class="col-lg-2">
                            <input id="txtIdSolicitud" disabled="disabled" hidden="hidden" />
                        </div>
                        <div class="col-lg-2">
                            <input id="txtIdOrdenTrabajo" disabled="disabled" hidden="hidden" />
                        </div>
                        <div class="col-lg-2">
                            <input id="txtIdSolicitudDisenoPrenda" disabled="disabled" hidden="hidden" />
                        </div>
                        <div class="col-lg-2">
                            <input id="txtIdEtapaProceso" disabled="disabled" hidden="hidden" />
                        </div>
                        <div class="col-lg-2">
                            <input id="txtItem" disabled="disabled" hidden="hidden" />
                        </div>
                        <div class="col-lg-2">
                            <input id="IdCliente" disabled="disabled" hidden="hidden" />
                        </div>
                        <div class="col-lg-2">
                            <input id="txtEstado" disabled="disabled" hidden="hidden" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-3 col-md-6">
                            <label for="txtNoDocumentoOT" id="lblNoDocumentoOT">No Orden Trabajo:</label>
                            <input id="txtNoDocumentoOT" name="NoDocumentoOT" class="k-textbox form-control" , disabled="disabled" />
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <label for="txtNombre" id="lblCliente">Cliente:</label>
                            <input id="txtNombre" name="Nombre" class="k-textbox form-control" , disabled="disabled" />
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <label for="txtNombreDiseno" id="lblNombreDiseno">Nombre Dise&ntilde;o:</label>
                            <input id="txtNombreDiseno" name="NombreDiseno" class="k-textbox form-control" , disabled="disabled" />
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <label for="txtEstiloDiseno" id="lblEstiloDiseno">Estilo Dise&ntilde;o:</label>
                            <input id="txtEstiloDiseno" name="EstiloDiseno" class="k-textbox form-control" , disabled="disabled" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-3 col-md-6">
                            <label for="txtNomServicio" id="lblNomServicio">Servicio:</label>
                            <input id="txtNomServicio" name="NomServicio" class="k-textbox form-control" , disabled="disabled" />
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <label for="txtFechaOrdenTrabajo" id="lblFechaOrdenTrabajo">Fecha de Orden de Trabajo:</label>
                            <input id="txtFechaOrdenTrabajo" name="FechaOrdenTrabajo" class="k-textbox form-control" , disabled="disabled" />
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <label for="txtNomEstado" id="lblNomEstado">Estado:</label>
                            <input id="txtNomEstado" name="NomEstado" class="k-textbox form-control" , disabled="disabled" />
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <label for="txtNombrePrenda" id="lblNombrePrenda">Prenda:</label>
                            <input id="txtNombrePrenda" name="NombrePrenda" class="k-textbox form-control" , disabled="disabled" />
                        </div>
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="col-lg-3 col-md-6">
                            <button type="button" id="btnCambiarAsignado">&nbsp;Asignaci&oacute;n de Usuarios</button>
                            <button type="button" id="btnCambiarEtapa">&nbsp;Cambiar de Etapa</button>
                        </div>
                        
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="col-lg-12 sw-main sw-theme-arrows" id="smartwizard">
                            <ul id="EtapaOpc" class="nav nav-fill nav-tabs step-anchor"></ul>
                            <div id="EtapasVistas" class="sw-container tab-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="vAsignarUsuario">
    <form id="FrmAsignarUsuario" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label for="cmbUsuario">Usuario:</label>
                <input id="cmbUsuario" name="cmbUsuario" required validationMessage="Requerido" class="form-control" />
            </div>
            <div class="form-group col-lg-3">
                <p style="line-height: 2.5em;">
                    <input type="radio" id="rAsignado" name="rOp" class="k-radio" checked mayus="no" />
                    <label class="k-radio-label" for="rAsignado">Asignado</label>
                    <br />
                    <input type="radio" id="rSeguidor" name="rOp" class="k-radio" mayus="no" />
                    <label class="k-radio-label" for="rSeguidor">Seguidor</label>
                </p>
            </div>
            <div class="form-group col-lg-3">
                <br />
                <button type="button" id="btnAsignarUsuario" name="btnAsignarUsuario" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-12">
                
                <div id="gridUsuarioAsignados"></div>
            </div>
        </div>
    </form>
</div>