@{
    ViewBag.Title = "Ordenes de Trabajo";
    ViewBag.IdVersion = "TSM0101088|v2001161";
}

<h2 id="lblNomIdEtapaProceso"></h2>

@section Scripts{
    <script type="text/javascript">
        var idOrdenTrabajo = @ViewBag.IdOrdenTrabajo;
        var idEtapaProceso = @ViewBag.IdEtapaProceso;
        var nombreVista = "@ViewBag.VistaParcial";
    </script>

    <script type="text/javascript" src="~/Scripts/js/ElementoTrabajo.js"></script>
    <script src="~/Scripts/js/_MaqSR22.js"></script>
    <script src="~/Scripts/js/TSM_VerDiseno.js"></script>@*js donde se programa la funcionalidad para la imagen del diseño mostrada lado derecho de la pantalla*@
}
<link href="~/Content/TSM_imagen_modal.css" rel="stylesheet" />
<link href="~/Content/TSM_VerDiseno.css" rel="stylesheet" />@*css donde se programa la funcionalidad para la imagen del diseño mostrada lado derecho de la pantalla*@
@*seccion que muestra información de la OT en la parte superior de la vista *@
<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <ul id="BarPanelInfo">
                    <li>
                        <span class="TS-icon-INFO1" style="font-size: 1.7em;">&nbsp</span>
                        Información Orden de Trabajo
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <div class="form-row">
                                    <div class="col-lg-2">
                                        <input id="IdServicio" disabled="disabled" hidden="hidden" />
                                    </div>
                                    <div class="col-lg-2">
                                        <input id="txtId" disabled="disabled" hidden="hidden" />
                                    </div>
                                    <div class="col-lg-2">
                                        <input id="txtIdRequerimiento" disabled="disabled" hidden="hidden" />
                                    </div>
                                    <div class="col-lg-2">
                                        <input id="txtIdSolicitud" disabled="disabled" hidden="hidden" />
                                    </div>
                                    <div class="col-lg-2">
                                        <input id="txtIdOrdenTrabajo" disabled="disabled" hidden="hidden" />
                                    </div>
                                    <div class="col-lg-2">
                                        <input id="txtIdSolicitudDisenoPrenda" disabled="disabled" hidden="hidden" />
                                    </div>
                                    <div class="col-lg-2">
                                        <input id="txtIdEtapaProceso" disabled="disabled" hidden="hidden" />
                                    </div>
                                    <div class="col-lg-2">
                                        <input id="txtItem" disabled="disabled" hidden="hidden" />
                                    </div>
                                    <div class="col-lg-2">
                                        <input id="IdCliente" disabled="disabled" hidden="hidden" />
                                    </div>
                                    <div class="col-lg-2">
                                        <input id="txtEstado" disabled="disabled" hidden="hidden" />
                                    </div>
                                </div>
                                <div class="border p-md-1 p-lg-1">
                                    <div class="form-row">
                                        <div class="form-group col-lg-12"><label class="font-weight-bold">ORDEN DE TRABAJO</label></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-3 col-md-6">
                                            <label for="txtNoDocumentoOT" id="lblNoDocumentoOT">No Orden Trabajo:</label>
                                            <input id="txtNoDocumentoOT" name="NoDocumentoOT" class="k-textbox form-control" , disabled="disabled" />
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6">
                                            <label for="txtFechaOrdenTrabajo" id="lblFechaOrdenTrabajo">Fecha de Orden de Trabajo:</label>
                                            <input id="txtFechaOrdenTrabajo" name="FechaOrdenTrabajo" class="k-textbox form-control" , disabled="disabled" />
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6">
                                            <label for="txtNomServicio" id="lblNomServicio">Servicio:</label>
                                            <input id="txtNomServicio" name="NomServicio" class="k-textbox form-control" , disabled="disabled" />
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6">
                                            <label for="txtNombre" id="lblCliente">Cliente:</label>
                                            <input id="txtNombre" name="Nombre" class="k-textbox form-control" , disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-3 col-md-6">
                                            <label for="txtNombreEC" id="lblNomEstado">Ejectivo (a) Cuenta:</label>
                                            <input id="txtNombreEC" name="txtNombreEC" class="k-textbox form-control" , disabled="disabled" />
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6">
                                            <label for="txtNomEstado" id="lblNomEstado">Estado:</label>
                                            <input id="txtNomEstado" name="NomEstado" class="k-textbox form-control" , disabled="disabled" />
                                        </div>
                                    </div>
                                </div>

                                <div class="border p-md-1 p-lg-1 ">
                                    <div class="form-row">
                                        <div class="form-group col-lg-12"><label class="font-weight-bold">INFORMACION DEL DISEÑO A DESAROLLAR</label></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-3 col-md-6">
                                            <label for="txtNombreTalla" id="lblNombreDiseno">Talla:</label>
                                            <input id="txtNombreTalla" name="txtNombreTalla" class="k-textbox form-control" , disabled="disabled" />
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6">
                                            <label for="txtNombreDiseno" id="lblNombreDiseno">Nombre Dise&ntilde;o:</label>
                                            <input id="txtNombreDiseno" name="NombreDiseno" class="k-textbox form-control" , disabled="disabled" />
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6">
                                            <label for="txtEstiloDiseno" id="lblEstiloDiseno">Estilo Dise&ntilde;o:</label>
                                            <input id="txtEstiloDiseno" name="EstiloDiseno" class="k-textbox form-control" , disabled="disabled" />
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6">
                                            <label for="txtNombrePrenda" id="lblNombrePrenda">Prenda:</label>
                                            <input id="txtNombrePrenda" name="NombrePrenda" class="k-textbox form-control" , disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-3 col-md-6">
                                            <label for="TxtColor">Color Tela:</label>
                                            <input id="TxtColor" name="TxtColor" class="k-textbox form-control" , disabled="disabled" />
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6">
                                            <label for="TxtNombreCPT">Compocici&oacute;n Tela:</label>
                                            <input id="TxtNombreCPT" name="TxtNombreCPT" class="k-textbox form-control" , disabled="disabled" />
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6">
                                            <label for="TxtNombreCCT">Construcci&oacute;n:</label>
                                            <input id="TxtNombreCCT" name="TxtNombreCCT" class="k-textbox form-control" , disabled="disabled" />
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6">
                                            <label for="TxtNombreCFT">Confeci&oacute;n:</label>
                                            <input id="TxtNombreCFT" name="TxtNombreCFT" class="k-textbox form-control" , disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-3 col-md-3">
                                            <label for="TxtNomQuimica">Qu&iacute;mica:</label>
                                            <input id="TxtNomQuimica" name="TxtNomQuimica" class="k-textbox form-control" , disabled="disabled" />
                                        </div>
                                        <div class="form-group col-lg-3 col-md-3">
                                            <label for="txtNombreUbicacion">Ubicaci&oacute;n:</label>
                                            <input id="txtNombreUbicacion" name="txtNombreUbicacion" class="k-textbox form-control" , disabled="disabled" />
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6">
                                            <label for="TxtInstruccionesEspeciales">Instrucciones Especiales:</label>
                                            <input id="TxtInstruccionesEspeciales" name="TxtInstruccionesEspeciales" class="k-textbox form-control" , readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <br />
                <div class="form-row">
                    <div class="col-lg-6 col-md-6">
                        <button type="button" id="btnCambiarAsignado">&nbsp;Asignaci&oacute;n de Usuarios</button>
                        <button type="button" id="btnCambiarEtapa">&nbsp;Cambiar de Etapa</button>
                    </div>
                    <div class="form-group col-lg-6 col-md-6">
                        <div class="form-row">
                            <div class="col-lg-9 col-md-8"></div>
                            <div class="col-lg-3 col-md-4"> <button type="button" id="btnIrGOT">&nbsp;Ir a Gesti&oacute;n O.T</button></div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-12 sw-main sw-theme-arrows" id="smartwizard">
                        <ul id="EtapaOpc" class="nav nav-fill nav-tabs step-anchor"></ul>
                        <div id="EtapasVistas" class="sw-container tab-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*vista parcial para la asignación de ordenes de trabajo*@
<div id="vAsignarUsuario">
    <form id="FrmAsignarUsuario" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label for="cmbUsuario">Usuario:</label>
                <input id="cmbUsuario" name="cmbUsuario" required validationMessage="Requerido" class="form-control" />
            </div>
            <div class="form-group col-lg-3">
                <p style="line-height: 2.5em;">
                    <input type="radio" id="rAsignado" name="rOp" class="k-radio" checked mayus="no" />
                    <label class="k-radio-label" for="rAsignado">Asignado</label>
                    <br />
                    <input type="radio" id="rSeguidor" name="rOp" class="k-radio" mayus="no" />
                    <label class="k-radio-label" for="rSeguidor">Seguidor</label>
                </p>
            </div>
            <div class="form-group col-lg-3">
                <br />
                <button type="button" id="btnAsignarUsuario" name="btnAsignarUsuario" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-12">

                <div id="gridUsuarioAsignados"></div>
            </div>
        </div>
    </form>
</div>
@*vista parcial para la cambio de etapa *@
<div id="vCamEtapa">
    <div class="form-group col-lg-12">
        <form id="FrmCambioEtapa" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-lg-12">
                    <label for="cmbEtpSigAnt">Etapas</label>
                    <input id="cmbEtpSigAnt" name="cmbEtpSigAnt" required validationMessage="Requerido" class="form-control" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-12">
                    <label for="cmbUsuarioEtp">Usuarios</label>
                    <input id="cmbUsuarioEtp" name="cmbUsuarioEtp" required validationMessage="Requerido" class="form-control" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-12">
                    <label for="TxtMotivoEtp">Motivo</label>
                    <textarea id="TxtMotivoEtp" name="TxtMotivoEtp" type="text" class="form-control" rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 100%;"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
@*div template para mostrar las imagenes para el desarrollo de la muestra *@
<div class="custom-template">
    <div class="title">Arte a desarollar</div>
    <div class="custom-content">
        <div class="form-group col-lg-12">
            <div class="form-row">
                <div class="form-group col-lg-12" id="OTSlide">
                    @* aqui se coloca dinamicamente las imagenes  *@
                </div>
            </div>
        </div>
    </div>
    <div class="custom-toggle">
        <i class="TS-icon-PLUMA-1"></i>
    </div>
</div>
@*seccion html que se utilizara para la vista modal de formulas historicas *@
<div class="form-row">
    <div class="form-group col-lg-12">
        <div id="FormulaHist"></div>
    </div>
</div>

