
 
    <div class="form-row">
        <div class="form-group col-lg-7">
            <form id="FrmSerigrafia" enctype="multipart/form-data" autocomplete="off">
                <div class="form-row">
                    <input id="IdAnalisisDiseno" name="IdAnalisisDiseno" class="k-textbox form-control" , disabled="disabled" value="0" hidden="hidden" />
                    <input id="IdRequerimiento" name="IdRequerimiento" class="k-textbox form-control" , disabled="disabled" value="0" hidden="hidden" />
                    <div class="form-group col-lg-3">
                        <label for="Estado" >Estado:</label>
                        <input id="Estado" name="Estado" class="k-textbox form-control" , disabled="disabled"  />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="Fecha" >Fecha:</label>
                        <input id="Fecha" name="Fecha" class="form-control" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="ResolucionDPI" >Resolución (DPI):</label>
                        <input id="ResolucionDPI" name="ResolucionDPI" type="text" class="form-control" required data-max-msg="ingrese el valor entre 1 y 999999999" value="0" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="ResolucionSqr" >Resolución<sup>2</sup>:</label>
                        <input id="ResolucionSqr" name="ResolucionSqr"  type="text" class="form-control" value="0" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-3">
                        <label for="PixelesTotal" >Pixeles:</label>
                        <input id="PixelesTotal" name="PixelesTotal" class="form-control" required data-max-msg="ingrese el valor entre 1 y 999999999" value="0" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="AreaTotal" >Area Total:</label>
                        <input id="AreaTotal" name="AreaTotal" class="form-control" value="0" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="IdUniArea" >Unidad Medida:</label>
                        <input id="IdUniArea" name="IdUniArea" class="form-control" required validationMessage="Requerido" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="CntTallas" >Tamaño:</label>
                        <input id="CntTallas" name="CntTallas" class="k-textbox form-control" , disabled="disabled"  />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-3">
                        <label for="AnchoDiseno" >Ancho:</label>
                        <input id="AnchoDiseno" name="AnchoDiseno" class="form-control" required value="0" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="AltoDiseno" >Alto:</label>
                        <input id="AltoDiseno" name="AltoDiseno" class="form-control" required value="0" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="IdUniDimension" >Unidad Medida:</label>
                        <input id="IdUniDimension" name="IdUniDimension" class="form-control" required validationMessage="Requerido" />
                    </div>
                    <div class="form-group col-lg-3">
                        <div class="form-row">
                            <div class="form-group col-md-7 col-lg-7">
                                <label for="CntcolorSer" >Cantidad Colores:</label>
                                <input id="CntcolorSer" name="CntcolorSer" class="form-control" value="0" />
                            </div>
                            <div class="form-group col-md-5 col-lg-5 align-self-end">
                                <input type="checkbox" id="chkDisenoFullColor" name="chkDisenoFullColor" class="k-checkbox k-checkbox-md k-rounded-md">
                                <label class="k-checkbox-label" for="chkDisenoFullColor" >Full Color</label>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-3">
                        <label for="TxtVelocidadMaquina" >Velocidad Maquina:</label>
                        <input id="TxtVelocidadMaquina" name="TxtVelocidadMaquina" class="form-control" required value="0" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="CmbIdUnidadVelocidad" >Unidad Velocidad:</label>
                        <input id="CmbIdUnidadVelocidad" name="CmbIdUnidadVelocidad" class="form-control" required validationMessage="Requerido" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="TxtComentarios" >Comentarios:</label>
                        <input id="TxtComentarios" name="TxtComentarios" class="k-textbox form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4 align-self-end">
                        <div class="input-group-prepend">
                            <div style="width: 100%;">
                                <button type="button" id="GSerigrafia" name="GSerigrafia"></button>
                                <button type="button" id="btnVerReq" name="btnVerReq"></button>
                                <button type="button" id="myBtnAdjunto" data-toggle="modal" data-target="#myModalAdjunto"  onclick="$('#GridAdjuntos').data('kendoGrid').dataSource.read([]); $('#GridAdjuntos').data('kendoGrid').dataSource.read(); return;"></button>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group col-lg-5">
            <div class="form-row">
                <div class="form-group col-lg-12">
                    <label for="TxtDirectorioSeri" >Directorio Archivos:</label>
                    <input id="TxtDirectorioSeri" name="TxtDirectorioSeri" type="text" class="k-textbox form-control" readonly="readonly" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-12" id="SerigrafiaSlide">
                    @* aqui se coloca dinamicamente las imagenes  *@
                </div>
            </div>
          
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-12"><label class="font-weight-bold" >Técnicas</label></div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-12">
            <div id="GSeparacion"></div>
        </div>
    </div>





