@{
    ViewBag.Title = "Cambio de programa";
    ViewBag.IdVersion = "TSM0101100|v22012501";
}

@section Scripts {
    <script src="~/Scripts/js/CambioClienteOT.js?@ViewBag.IdVersion"></script>
}

<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-lg-2"></div>
                    <div class="form-group col-lg-8">
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label for="cmbOrdenTrabajo">Orden de trabajo:</label>
                                <input id="cmbOrdenTrabajo" name="cmbOrdenTrabajo" required validationMessage="Requerido" class="form-control" />
                            </div>
                            <div class="form-group col-lg-6"></div>
                            <div class="border p-md-1 p-lg-1 col-lg-12">
                                <div class="col-lg-12"><label class="font-weight-bold">Información de orden de trabajo</label></div>
                                <div class="form-group col-lg-12">
                                    <label for="txtNombreCliente">Cliente </label>
                                    <input id="txtNombreCliente" name="txtNombreCliente" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="txtNombrePrograma">Programa </label>
                                    <input id="txtNombrePrograma" name="txtNombrePrograma" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
                                </div>
                            </div>

                            <br />
                            <div class="border p-md-3 p-lg-3 col-lg-12">
                                <div class="form-row">
                                    <div class="col-lg-12"><label class="font-weight-bold">Criterios de cambio</label></div>
                                    <div class="form-group col-md-12 col-lg-12 ">
                                        <input type="checkbox" id="chkCambiarCliente" name="chkCambiarCliente" class="k-checkbox k-checkbox-md k-rounded-md">
                                        <label class="k-checkbox-label" for="chkCambiarCliente">Modificar cliente</label>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="cmbcliente">Cliente nuevo:</label>
                                        <input id="cmbcliente" name="cmbcliente" required validationMessage="Requerido" class="form-control" />
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="cmbPrograma">Programa nuevo:</label>
                                        <input id="cmbPrograma" name="cmbPrograma" required validationMessage="Requerido" class="form-control" />
                                    </div>
                                    <div class="form-group col-lg-6 align-self-end">
                                        <div class="input-group">
                                            <div style="width: 100%;">
                                                <button type="button" id="btnConfirmar" name="btnConfirmar">Confirmar cambio</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="form-group col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
