
@{
    ViewBag.Title = "Consulta de Corte Micro";
    ViewBag.IdVersion = "TSM0101141|v22081601";
}
@section Scripts {
    <script type="text/javascript">
        var IdHojaBandeo = 0;
        var idCatalogoDiseno = 0;

        @if (ViewBag.IdHojaBandeo != null ) {
            <text> IdHojaBandeo = @ViewBag.IdHojaBandeo; </text>
        }

        @if (ViewBag.IdCatalogoDiseno != null ) {
            <text> idCatalogoDiseno = @ViewBag.IdCatalogoDiseno; </text>
        }

    </script>
    <script src="~/Scripts/js/ConsultaCorteMicro.js?@ViewBag.IdVersion"></script>
    <script src="~/Scripts/js/EtapasMercanciasConsulta.js?@ViewBag.IdVersion"></script>

}
<link href="~/Content/EtapaMercanciaConsulta.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <div class="col-lg-12 text-left mt-4 mb-3">
                                <button type="button" id="btnRetornar">Regresar</button>
                                <button type="button" id="btnRefrescar" class="ml-3"></button>
                            </div>
                        </div>
                        <div class="form-group" id="divImagenDiseno">
                            <img class="k-card-image rounded mx-auto d-block" src="/Images/NoImagen.png" />
                        </div>
                        <div class="form-group">
                            <hr />
                        </div>
                        <div class="form-group mb-3 input-div">
                            <label for="txtCodigoFM" id="lblCodigoFM">Catálogo de Diseño:</label>
                            <input id="txtCodigoFM" name="txtCodigoFM" class="k-textbox form-control" />
                        </div>
                        <div class="form-group mb-3 input-div">
                            <label for="txtDiseño" id="lblDiseño">Diseño:</label>
                            <input id="txtDiseño" name="txtDiseño" class="k-textbox form-control" />
                        </div>
                        <div class="form-group mb-3 input-div">
                            <label for="txtEstilo" id="lblEstilo">Estilo:</label>
                            <input id="txtEstilo" name="txtEstilo" class="k-textbox form-control" />
                        </div>
                        <div class="form-group mb-3 input-div">
                            <label for="txtColorTela" id="lblColorTela">Color de Tela:</label>
                            <input id="txtColorTela" name="txtColorTela" class="k-textbox form-control" />
                        </div>
                        <div class="form-group mb-3 input-div">
                            <label for="txtParte" id="lblParte">Parte de Prenda:</label>
                            <input id="txtParte" name="txtParte" class="k-textbox form-control" />
                        </div>
                        <div class="form-group mb-3 input-div">
                            <label for="txtProducto" id="lblProducto">Producto:</label>
                            <input id="txtProducto" name="txtProducto" class="k-textbox form-control" />
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="row mb-3">
                            <div class="col-lg-2">
                                <label for="txtCorte" id="lblCorte">Corte:</label>
                                <input id="txtCorte" name="txtCorte" class="k-textbox form-control" />
                            </div>
                            <div class="col-lg-2">
                                <label for="txtCantidad" id="lblCantidad">Cantidad:</label>
                                <input id="txtCantidad" name="txtCantidad" class="k-textbox form-control" />
                            </div>
                            <div class="col-lg-2">
                                <label for="txtBultos" id="lblBultos">Cantidad Bultos/Rollos:</label>
                                <input id="txtBultos" name="txtBultos" class="k-textbox form-control" />
                            </div>
                            <div class="col-lg-2">
                                <label for="txtTallas" id="lblTallas">Tallas:</label>
                                <input id="txtTallas" name="txtTallas" class="k-textbox form-control" />
                            </div>
                            <div class="col-lg-4 d-flex pl-0">
                                <div>
                                    <label for="cmbEtapa" id="lblEtapa">Segundas:</label>
                                    <div id="progressBar" style="width: 19em;"></div>
                                </div>
                                <div class="ml-auto mt-auto">
                                    <button type="button" id="btnGenerarExcel">Descargar Data</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-12">
                                @Html.Partial("_EtapasMercanciasConsulta")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="gridBultos"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
