@{
    ViewBag.Title = "Ubicación en Estampado";
    ViewBag.IdVersion = "TSM0101019|v19070101";
}
@section Scripts {
<script type="text/javascript">
    var crudServiceBaseUrl = "@string.Format("{0}Ubicaciones", TSM.Utils.Config.TSM_WebApi)";
</script>
<script src="~/Scripts/js/Ubicaciones.js"></script>
}
<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>


