
@{
    ViewBag.Title = "Definición de Categorías de Motivos Laboratorio";
    ViewBag.IdVersion = "TSM0101102|v21070901";
}

@section Scripts {
    <script src="~/Scripts/js/CategoriasMotivosLaboratorio.js"></script>
}

<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

