
@{
    ViewBag.Title = "Nota de Remisión";
    ViewBag.IdVersion = "TSM0101157|v22121901";
}

@section Scripts{
    <script type="text/javascript">
        var UrlServ = "@string.Format("{0}Servicios", TSM.Utils.Config.TSM_WebApi)";
        var xIdDespachoMercancia = "@ViewBag.IdDespachoMercancia";
    </script>

    <script src="~/Scripts/js/ListaEmpaques.js"></script>
}

<div id="vCambioEstado"></div>
<div class="row">
    <div class="card">
        <div class="card-body container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="form-group col-lg-12" style="display:none;">
                            <label for="txtIdDespachoMerc">Id Despacho:</label>
                            <input id="txtIdDespachoMerc" name="txtIdDespachoMerc" class="form-control" readonly />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-12">
                    <div class="row">
                        <div class="form-group col-lg-2">
                            <label for="txtCliente">Cliente:</label>
                            <input id="txtCliente" name="txtCliente" class="form-control k-textbox" />
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="dfDespacho" id="lblfDespacho">Fecha de Despacho:</label>
                            <input id="dfDespacho" name="dfDespacho" class="form-control" />
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="txtDireccion" id="lblDireccion">Dirección:</label>
                            <input id="txtDireccion" name="txtDireccion" class="form-control k-textbox" />
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="txtOrdenDespacho">Orden Despacho</label>
                            <input id="txtOrdenDespacho" name="txtOrdenDespacho" class="form-control k-textbox" />
                        </div>
                        <div class="form-group col-lg-3 mt-auto text-right">
                            <button type="button" id="btnEtapa">Cambio de etapa</button>
                            <button type="button" id="btnRetornar">Regresar</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="form-group col-lg-8">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="gridNR"><b style="font-size:17px;">Lista de Nota de Remisión:</b></label>
                            <div id="gridNR" style="margin-top:24px;"> </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="gridNRD"><b style="font-size:17px;">Detalle de la Nota de Remisión:</b></label>
                            <div id="gridNRD" style="margin-top:24px;"> </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="row">
                        <div class="form-group col-lg-12 justify-content-end">
                            <button type="button" id="btnSaveNR">Guardar Información</button>
                        </div>
                        <div class="form-group col-lg-12">
                            <div id="gridDAPL"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*vista modal editar detalle NR*@
<div id="vEditDetNR"></div>

@*modal cambio de etapa*@
<div id="vCambioEtapa"></div>