
@{
    ViewBag.Title = "Listas de Empaques";
    ViewBag.IdVersion = "TSM0101154|v22112201";
}

@section Scripts{
    <script src="~/Scripts/js/ListaEmpaques.js"></script>
}

<h2>ListaEmpaques</h2>

