<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre cómo usar la transformación de web.config, visite https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    En el ejemplo siguiente, la transformación "SetAttributes" cambiará el valor de    "connectionString" para que solamente use "ReleaseSQLServer" cuando el localizador "Match"    encuentre un atributo "name" con el valor "MyDB".    <connectionStrings>     <add name="MyDB".        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>    </connectionStrings>
  -->
	<appSettings>
		<add key="TSM-WebApi" value="http://apiist2.techno-screen.com:8086/api/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="ColorApp" value="#E23636" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
		<add key="DirectorioReportes" value="J:\SharedFolders\TS_TSMIST2_Reportes\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
	</appSettings>
  <system.web>
	  <compilation targetFramework="4.6.1" xdt:Transform="Replace"></compilation>
    <!--
      En el ejemplo siguiente, la transformación "Replace" reemplazará toda la 
      sección <customErrors> del archivo web.config.
      Tenga en cuenta que, como solo hay una sección customErrors bajo el nodo 
      <system.web>, no es necesario usar el atributo "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
	<system.serviceModel>
		<client>
			<endpoint address="http://tsmist.techno-screen.net:38097/Auth.svc" name="BasicHttpBinding_IAuth" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)" />
			<endpoint address="http://tsmist.techno-screen.net:38097/Seguridad.svc" name="BasicHttpBinding_ISeguridad" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)" />
		</client>
	</system.serviceModel>
</configuration>