<div id="FrmImportarBultos" class="h-100">
    <div class="row h-100">
        <div class="col-lg-12 d-flex flex-column">
            <div class="form-group">
                <label for="txt_Ibs_Bulto_Ini">#Inicio Bulto / Rollo:</label>
                <input id="txt_Ibs_Bulto_Ini" name="txt_Ibs_Bulto_Ini" type="text" class="k-textbox form-control input-number" />
            </div>
            <div class="form-group">
                <label for="cmb_Ibs_Unidades">Unidades:</label>
                <input id="cmb_Ibs_Unidades" name="cmb_Ibs_Unidades" type="text" class="form-control" />
            </div>
            <div class="text-center mt-auto">
                <button type="button" id="btnCargarArchivo">Importar</button>
            </div>
        </div>
    </div>
</div>