
<div id="FrmIngresoBultoSerie" class="h-100">
    <div class="row h-100">
        <div class="col-lg-12 d-flex flex-column">

            <div class="form-group">
                <label for="txt_Ibs_Bulto_Ini">#Inicio Bulto / Rollo:</label>
                <input id="txt_Ibs_Bulto_Ini" name="txt_Ibs_Bulto_Ini" type="text" class="k-textbox form-control input-number" />
            </div>

            <div class="form-group">
                <label for="txt_Ibs_Bulto_Fin">#Final Bulto / Rollo:</label>
                <input id="txt_Ibs_Bulto_Fin" name="txt_Ibs_Bulto_Fin" type="text" class="k-textbox form-control input-number" />
            </div>

            <div class="form-group">
                <label for="txt_Ibs_Talla">Talla:</label>
                <input id="txt_Ibs_Talla" name="txt_Ibs_Talla" type="text" class="k-textbox form-control" />
            </div>

            <div class="form-group">
                <label for="num_Ibs_Cantidad">Cantidad:</label>
                <input id="num_Ibs_Cantidad" name="num_Ibs_Cantidad" type="text" class="form-control" aria-describedby="num_Ibs_CantidadHelp" />
                <small id="num_Ibs_CantidadHelp" class="form-text text-muted">
                    Favor verificar bien el ingreso del dato según hoja de bandeo
                </small>
            </div>

            <div class="form-group">
                <label for="cmb_Ibs_Unidades">Unidades:</label>
                <input id="cmb_Ibs_Unidades" name="cmb_Ibs_Unidades" type="text" class="form-control" />
            </div>

            <div class="text-center mt-auto">
                <button type="button" id="btn_Ibs_RealizarReg">Generar Ingreso</button>
            </div>

        </div>
    </div>

</div>

