@{
    ViewBag.Title = "Definición de Técnicas";
    ViewBag.IdVersion = "TSM0101016|v19010701";
}
@section Scripts {
    <script type="text/javascript">
        var crudServiceBaseUrl = "@string.Format("{0}Tecnicas", TSM.Utils.Config.TSM_WebApi)";
        var VistaServiciosUlr = "@string.Format("{0}Servicios", TSM.Utils.Config.TSM_WebApi)";
    </script>
    <script src="~/Scripts/js/Tecnicas.js"></script>
}
    <div class="form-row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <label for="CmbServicio">Servicios:</label>
                                <input id="CmbServicio" class="form-control" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <label for="grid"><strong>Registro de técnicas</strong></label>
                                        <div id="grid"></div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="gridTecnicaArt"><strong>Registro de artículos sugeridos</strong></label>
                                        <div id="gridTecnicaArt"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
      
        
    </div>