@{
    ViewBag.Title = "Definición Prenda - Ubicación Estampar";
    ViewBag.IdVersion = "TSM0101044|v19031801";
}
@section Scripts {
    <script type="text/javascript">
        var UrlCpu = "@string.Format("{0}CategoriaPrendasUbicaciones", TSM.Utils.Config.TSM_WebApi)";
        var UrlCp = "@string.Format("{0}CategoriaPrendas", TSM.Utils.Config.TSM_WebApi)";
        var UrlU = "@string.Format("{0}Ubicaciones", TSM.Utils.Config.TSM_WebApi)";
    </script>
    <script src="~/Scripts/js/CategoriaPrendasUbicaciones.js"></script>
}
<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group ">
                    <label for="CmbPrenda">Categoría Prenda:</label>
                    <input class="form-control" id="CmbPrenda" />
                </div>
                <div class="form-group">
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>


