@{
    ViewBag.Title = "Ficha de Producción";
    ViewBag.IdVersion = "TSM0102003|v20021801";
}
@section Scripts {
    <script type="text/javascript">
        var xIdOt =@ViewData["IdOrdenTrabajo"];
        var xIdSimu =@ViewData["IdSimulacion"];
        var xIdCoti =@ViewData["IdCotizacion"];

    </script>
    <script src="~/Scripts/js/FichaProd.js"></script>
    <script src="~/Scripts/Vue/Vue.js"></script>
    <script src="~/Scripts/VueComp/inquisalva-components.min.js"></script>
    <script src="~/Scripts/VueComp/maquinaSerigrafia.js"></script>
}

<link href="~/Content/bootstrap/AdjCarousel.css" rel="stylesheet" />
<link href="~/Content/TSM_imagen_modal.css" rel="stylesheet" />



<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <ul id="bpanel">
                <li class="k-state-active">
                    <span class="TS-icon-INFORMACION-2" style="font-size: 1.7em;">&nbsp</span>
                    REQUERIMIENTO DE DESARROLLO
                    <div class="form-group col-lg-12">
                        <br/>
                        <div class="col-lg-8 col-md-8">
                            <button type="button" id="btnCambiarEstadoFP" name="btnCambioEstado">&nbsp;Cambiar estado</button>
                        </div>
                        <br/>
                        <div class="form-row">
                            <div class="form-group col-lg-4">
                                <div class="form-row col-lg-12">
                                    <div class="form-group col-lg-12" id="Div_Carousel">
                                        @* espacio reservad para la vista carrousel *@
                                    </div>


                                </div>
                            </div>

                            <div class="form-group col-lg-8">
                                <div class=" p-lg-1">

                                    <div class="border-bottom card-header-pills">
                                        <h7 class="my-1">INFORMACIÓN GENERAL</h7>
                                    </div>
                                    <br />
                                    <div class="form-row">
                                        <div class="col-lg-6">

                                            <div class="form-group col-lg-12">
                                                <label for="plCatalogo">No FM </label>
                                                <input id="plCatalogo" name="plCatalogo" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
                                            </div>

                                        </div>
                                        <div class="col-lg-6 ">
                                            <div class="form-group col-lg-12">
                                                <label for="plNoDocumento">N° OT:</label>
                                                <input id="plNoDocumento" name="plNoDocumento" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
                                            </div>

                                        </div>

                                    </div>


                                    <div class="form-row">
                                        <div class="col-lg-6 ">
                                            <div class="form-group col-lg-12">
                                                <label for="plNombre">Cliente </label>
                                                <input id="plNombre" name="plNombre" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group col-lg-12">
                                                <label for="plNombrePrograma">Programa </label>
                                                <input id="plNombrePrograma" name="plNombrePrograma" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
                                            </div>
                                        </div>


                                    </div>

                                    <div class="form-row">

                                        <div class="col-lg-6">
                                            @*<h5 class="font-weight-bold">N° Diseño</h5>
                            <p id="plIdDiseno"></p>*@

                                            <div class="form-group col-lg-12">
                                                <label for="plNombreDiseno">Nombre de diseño </label>
                                                <input id="plNombreDiseno" name="plNombreDiseno" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            @*<h5 class="font-weight-bold">Nombre de diseño</h5>
                            <p id="plNombreDiseno"></p>*@
                                            <div class="form-group col-lg-12">
                                                <label for="plEstiloDiseno">Estilo </label>
                                                <input id="plEstiloDiseno" name="plEstiloDiseno" class="k-input k-textbox form-control" , style="width:100%" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-lg-6">
                                            @*<h5 class="font-weight-bold">Estilo </h5>
                            <p id="plEstiloDiseno"></p>*@

                                            <div class="form-group col-lg-12">
                                                <label for="plIdDiseno">N° Diseño </label>
                                                <input id="plIdDiseno" name="plIdDiseno" class="k-input k-textbox form-control"  style="width:100%" />
                                            </div>
                                        </div>

                                        <div class="col-lg-6 ">
                                            @*<h5 class="font-weight-bold">Ejecutivo(a) </h5>
                            <p id="plNombreEjecutivoCuentas"></p>*@
                                            <div class="form-group col-lg-12">
                                                <label for="plNombreEjecutivoCuentas">Ejecutivo(a)</label>
                                                <input id="plNombreEjecutivoCuentas" name="plNombreEjecutivoCuentas" required validationMessage="Requerido" class="form-control" />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-row">

                                        <div class="col-lg-6 ">
                                            @*<h5 class="font-weight-bold">Piezas</h5>
                            <p id="plCantPiezas"></p>*@
                                            <div class="form-group col-lg-12">
                                                <label for="plCantPiezas">Piezas</label>
                                                <input id="plCantPiezas" name="plCantPiezas" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
                                            </div>
                                        </div>


                                        <div class="col-lg-6 ">
                                            @*<h5 class="font-weight-bold">N° de referencia</h5>
                            <p id="plCatalogo"></p>*@

                                            <div class="form-group col-lg-12">
                                                <label for="plFechaOrdenTrabajo">Fecha OT </label>
                                                <input id="plFechaOrdenTrabajo" name="plFechaOrdenTrabajo" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
                                            </div>

                                        </div>


                                    </div>
                                    <div class="form-row">
                                        <div class="col-lg-6 ">
                                            <div class="form-group col-lg-12">
                                                <label for="plNoDocCotizacion">No Cotizacíon </label>
                                                <input id="plNoDocCotizacion" name="plNoDocCotizacion" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
                                            </div>

                                        </div>
                                        <div class="col-lg-6 ">
                                            <div class="form-group col-lg-12">
                                                <label for="plEstadoFichaProd">Estado </label>
                                                <input id="plEstadoFichaProd" name="plEstadoFichaProd" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                <div class="form-row col-lg-12">
                                    <div class="p-lg-1 col-lg-5">

                                        <div class="border-bottom  card-header-pills ">
                                            <h7 class="my-0 font-weight-normal">TELA</h7>
                                        </div>
                                        <br />
                                        <div class="form-row">
                                            @*<div class="col-lg-4 ">
                                <h5 class="font-weight-bold">Color: </h5>
                            </div>
                            <div class="col-lg-8"> <p id="plColor"></p> </div>*@
                                            <div class="form-group col-lg-12">
                                                <label for="plColor">Color </label>
                                                <input id="plColor" name="plColor" class="k-input k-textbox form-control" , style="width:100%" />
                                            </div>

                                        </div>

                                        <div class="form-row">
                                            @*<div class="col-lg-4 ">
                                <h5 class="font-weight-bold">Composici&oacute;n </h5>
                            </div>
                            <div class="col-lg-8">
                                <p id="plNombreCPT"></p>
                            </div>*@
                                            <div class="form-group col-lg-12">
                                                <label for="plNombreCPT">Composici&oacute;n</label>
                                                <input id="plNombreCPT" name="plNombreCPT" required validationMessage="Requerido" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            @*<div class="col-lg-4">
                                <h5 class="font-weight-bold">Construcc&oacute;n </h5>
                            </div>
                            <div class="col-lg-8">
                                <p id="plNombreCCT"></p>
                            </div>*@
                                            <div class="form-group col-lg-12">
                                                <label for="plNombreCCT">Construcc&oacute;n</label>
                                                <input id="plNombreCCT" name="plNombreCCT" required validationMessage="Requerido" class="form-control" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="p-lg-1 col-lg-1">

                                    </div>


                                    <div class="p-lg-1 col-lg-6">

                                        <div class="border-bottom  card-header-pills ">
                                            <h7 class="my-0 font-weight-normal">PRENDA</h7>
                                        </div>
                                        <br />
                                        <div class="form-row">
                                            @*<div class="col-lg-4 ">
                                <h5 class="font-weight-bold">Prenda</h5>
                            </div>
                            <div class="col-lg-8">
                                <p id="plNombrePrenda"></p>
                            </div>*@

                                            <div class="form-group col-lg-12">
                                                <label for="plNombrePrenda">Prenda</label>
                                                <input id="plNombrePrenda" name="plNombrePrenda" required validationMessage="Requerido" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            @*<div class="col-lg-4 ">
                                <h5 class="font-weight-bold">Parte</h5>
                            </div>
                            <div class="col-lg-8">
                                <p id="plParte"></p>
                            </div>*@
                                            <div class="form-group col-lg-12">
                                                <label for="plParte">Parte</label>
                                                <input id="plParte" name="plParte" required validationMessage="Requerido" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            @*<div class="col-lg-4">
                                <h5 class="font-weight-bold">Confecci&oacute;n </h5>
                            </div>
                            <div class="col-lg-8">
                                <p id="plNombreCFT"></p>
                            </div>*@
                                            <div class="form-group col-lg-12">
                                                <label for="plNombreCFT">Confecci&oacute;n</label>
                                                <input id="plNombreCFT" name="plNombreCFT" required validationMessage="Requerido" class="form-control" />
                                            </div>
                                        </div>


                                    </div>

                                </div>

                                <!--  Se revisará si se necesita botón  -->
                                <div class="form-row">

                                    <div class="col-lg-4" hidden="hidden">
                                        <button type="button" id="btnIrGOT">&nbsp;Ir a Gesti&oacute;n O.T</button>
                                    </div>

                                </div>
                            </div>

                        </div>



                    </div>

                </li>
                <li class="k-state-active">
                    <span class="tsm-icon-DISEO  " style="font-size: 1.7em;">&nbsp</span>
                    PLACEMENT

                    <div class="form-group col-lg-12">
                        <br />

                        <div class="form-row col-lg-12">
                            <div class="form-row">
                                <div class="form-group col-lg-12">
                                    <div class="form-row col-lg-12">
                                        <div class="form-group col-lg-12" id="Div_Placement">
                                            @* espacio reservad para la vista carrousel *@
                                        </div>

                                    </div>
                                    <div class="form-row">

                                        <div class="input-group">
                                            <div style="width: 100%;">
                                                <!--  <button type="button" id="Guardar" name="Guardar"></button> -->
                                                @Html.Partial("~/Views/FichaProduccion/_ArteAdjuntos.cshtml")
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>



                </li>

                <li class="k-state-active">

                    <span class="tsm-icon-SOL-DESA" style="font-size: 1.7em;">&nbsp</span>
                    INFORMACIÓN E INSTRUCCIONES

                    <div class="form-group col-lg-12">

                        <div class="form-row col-lg-12">
                            <br />
                            <div class="p-lg-1 col-lg-3">

                                <div class="border-bottom  card-header-pills ">
                                    <h7 class="my-0 font-weight-normal">DATOS DE COSTEO</h7>
                                </div>

                                <div class="form-row"> <br />  </div>

                                <div class="form-row">
                                    @*<div class="col-lg-3 ">
            <h5 class="font-weight-bold">Combos</h5>
        </div>
        <div class="col-lg-3">
            <p id="plCombos"></p>
        </div>*@

                                    <div class="form-group col-lg-6">
                                        <label for="plCombos">Combos</label>
                                        <input id="plCombos" name="plCombos" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
                                    </div>

                                    @*<div class="col-lg-3 ">
            <h5 class="font-weight-bold">Cambios de talla</h5>
        </div>
        <div class="col-lg-3">
            <p id="plCambioTalla"></p>
        </div>*@
                                    <div class="form-group col-lg-6">
                                        <label for="plCambioTalla">Cambios de talla</label>
                                        <input id="plCambioTalla" name="plCambioTalla" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
                                    </div>

                                </div>
                                <div class="form-row">
                                    @*<div class="col-lg-3 ">
            <h5 class="font-weight-bold">Montajes</h5>
        </div>
        <div class="col-lg-3">
            <p id="plMontajes"></p>
        </div>*@
                                    <div class="form-group col-lg-6">
                                        <label for="plMontajes">Montajes</label>
                                        <input id="plMontajes" name="plMontajes" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
                                    </div>

                                    @*<div class="col-lg-3 ">
            <h5 class="font-weight-bold">Producción/hora</h5>
        </div>
        <div class="col-lg-3">
            <p id="plProdHora"></p>
        </div>*@
                                    <div class="form-group col-lg-6">
                                        <label for="plProdHora">Producción</label>
                                        <input id="plProdHora" name="plProdHora" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
                                    </div>

                                </div>

                            </div>
                            <div class="p-lg-1 col-lg-1"> </div>

                            <div class="p-lg-1 col-lg-3">

                                <div class="border-bottom  card-header-pills ">
                                    <h7 class="my-0 font-weight-normal">DOCUMENTOS ENTREGADOS</h7>
                                </div>

                                <div class="form-row"> <br />  </div>

                                <div class="form-row">

                                    <div class="form-group  col-lg-6">
                                        <input type="checkbox" id="plStrikeOff" name="plStrikeOff" class="k-checkbox" disabled="disabled">
                                        <label class="k-checkbox-label" for="plStrikeOff" id="idstrikeoff" style="font-weight:bold;">STRIKE OFF</label>
                                    </div>
                                    <div class="form-group  col-lg-6 ">

                                        <input type="checkbox" id="plMigracion" name="plMigracion" class="k-checkbox">
                                        <label class="k-checkbox-label" for="plMigracion" id="idMigracion" style="font-weight:bold;">MIGRACIÓN</label>

                                    </div>
                                </div>
                                <div class="form-row">

                                    <div class="form-group  col-lg-6 ">
                                        <input type="checkbox" id="plMuestraAprobada" name="plMuestraAprobada" class="k-checkbox">
                                        <label class="k-checkbox-label" for="plMuestraAprobada" id="idMuestraAprobada" style="font-weight:bold;">MUESTRA APROBADA</label>
                                    </div>
                                    <div class="form-group  col-lg-6 ">
                                        <input type="checkbox" id="plTrama" name="plTrama" class="k-checkbox">
                                        <label class="k-checkbox-label" for="plTrama" id="idTrama" style="font-weight:bold;">TRAMA</label>
                                    </div>

                                </div>


                                <div class="form-row">
                                    <div class="form-group  col-lg-6 ">

                                        <input type="checkbox" id="plPlacement" name="plPlacement" class="k-checkbox">
                                        <label class="k-checkbox-label" for="plPlacement" id="idPlacement" style="font-weight:bold;">PLACEMENT</label>
                                    </div>
                                    <div class="form-group  col-lg-6 ">

                                        <input type="checkbox" id="plLavado" name="plLavado" class="k-checkbox">
                                        <label class="k-checkbox-label" for="idLavado" id="idLavado" style="font-weight:bold;">PRUEBA LAVADO</label>

                                    </div>

                                </div>

                            </div>
                            <div class="p-lg-1 col-lg-1"> </div>

                            <div class="p-lg-1 col-lg-3">

                                <div class="border-bottom  card-header-pills ">
                                    <h7 class="my-0 font-weight-normal">PROCESOS</h7>
                                </div>

                                <div class="form-row"> <br />  </div>

                                <div class="form-row">
                                    <div class="col-lg-4 ">
                                        <h5 class="font-weight-bold">Tipo de Luz</h5>
                                    </div>
                                    <div class="col-lg-6">
                                        <p id="plTipoLuz"></p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group  col-lg-4 ">

                                        <input type="checkbox" id="plTermofijado" name="plTermofijado" class="k-checkbox" disabled="disabled">
                                        <label class="k-checkbox-label" for="plTermofijado" id="idplTermofijado" style="font-weight:bold;">Termofijado</label>
                                    </div>
                                </div>
                                <div class="form-row">

                                    <div class="form-group col-lg-12">
                                        <label for="TxtComentarios">Instrucciones de termofijado:</label>
                                        <input id="TxtComentarios" name="TxtTermoComent" class="form-control k-text" />
                                    </div>
                                </div>



                            </div>


                        </div>

                    </div>

                    <div class="form-group col-lg-12">
                        <div class="border-bottom  card-header-pills ">
                            <h7 class="my-0 font-weight-normal">INSTRUCCIONES</h7>
                        </div>
                        <div class="form-row col-lg-12">



                            <div class="form-row">
                                <br /> <br />
                            </div>

                            <div class="p-lg-1 col-lg-5">

                                <div class="border-bottom  card-header-pills ">
                                    <h7 class="my-0 font-weight-normal">PRODUCCIÓN</h7>
                                </div>

                                <div class="form-row">
                                    <br />
                                </div>

                                <div class="form-row">
                                    <!-- Se confguará el control como KendoMultiselect -->
                                    <div class="form-group col-md-7 col-lg-12">
                                        <label for="instruccionesGen">Instrucciones generales:</label>
                                        <input id="instruccionesProd" name="instruccionesGen" class="form-control" />
                                    </div>
                                </div>

                            </div>
                            <div class="p-lg-1 col-lg-1"></div>
                            <div class="p-lg-1 col-lg-5">
                                <div class="border-bottom  card-header-pills ">
                                    <h7 class="my-0 font-weight-normal">CALIDAD</h7>
                                </div>
                                <div class="form-row">
                                    <br />
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-7 col-lg-12">
                                        <label for="instruccionesCalidad">Instrucciones generales:</label>
                                        <input id="instruccionesCalidad" name="instruccionesCalidad" class="form-control" />
                                    </div>
                                </div>

                            </div>


                        </div>

                        <div class="form-row col-lg-12">



                            <div class="form-row">
                                <br /> <br />
                            </div>
                            <div class="p-lg-1 col-lg-5">

                                <div class="border-bottom  card-header-pills ">
                                    <h7 class="my-0 font-weight-normal">OTRAS INSTRUCCIONES</h7>
                                </div>

                                <div class="form-row">
                                    <br />
                                </div>
                                <div class="form-row">

                                    <div class="form-group col-lg-12">
                                        <label for="TxtInstrucciones">Instrucciones:</label>
                                        <input id="TxtInstrucciones" name="TxtInstrucciones" class="form-control k-text" />
                                    </div>
                                </div>

                            </div>

                            <div class="p-lg-1 col-lg-1"></div>

                            <div class="p-lg-1 col-lg-5">

                                <div class="border-bottom  card-header-pills ">
                                    <h7 class="my-0 font-weight-normal">TOLERANCIA DE MEDIDA</h7>
                                </div>

                                <div class="form-row">
                                    <br />
                                </div>
                                <div class="form-row">
                                    <!-- Se confguará el control como KendoMultiselect -->
                                    <div class="form-group col-lg-12">
                                        <label for="ToleranciaMed">Tolerancia:</label>
                                        <input id="ToleranciaMed" name="ToleranciaMed" class="form-control" />
                                    </div>
                                </div>

                            </div>


                        </div>


                    </div>




                </li>


                <li class="k-state-active">
                    <span class="TS-icon-DI1" style="font-size: 1.7em;">&nbsp</span>
                    ANALISIS DEL DISEÑO

                    <div class="form-group col-lg-12">
                        <br />
                        <div class="form-row">
                            <div class="border-bottom  card-header-pills ">
                                <h7 class="my-0 font-weight-normal">SETUP DE MUESTRAS</h7>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <div id="gConfBrazos"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="border-bottom  card-header-pills ">
                                <h7 class="my-0 font-weight-normal">TAMAÑO DE POSITIVOS (REQUERIMIENTO)</h7>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <div id="gDimensiones"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="border-bottom  card-header-pills ">
                                <h7 class="my-0 font-weight-normal">DETALLE DEL FOIL</h7>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <div id="gFoil"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="border-bottom  card-header-pills ">
                                <h7 class="my-0 font-weight-normal">TAMAÑOS / CANTIDAD DE PIEZAS (FICHA PRODUCCION)</h7>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <div id="gSolicitudProdDimension"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="border-bottom  card-header-pills ">
                                <h7 class="my-0 font-weight-normal">TALLAS RELACIONADAS</h7>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <div id="gTallasProducir"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <div id="maquinaConsultaOT"></div>
                            </div>
                        </div>
                    </div>

                </li>

            </ul>

            <div class="form-control p-lg-4">
                <div class="form-row">
                    <div class="col-3">
                        <form id="frmImprimirCot" target="_blank" onsubmit="fn_UrlReporteCotizacionMue()">
                            <button id="btnImprimir"> Imprimir Ficha de Producción</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="vCambioEstadoFicha"></div>



