@{
    ViewBag.Title = "Usuarios Roles";
    ViewBag.IdVersion = "TSM0101038|v19010701";
}
@section Scripts {
    <script type="text/javascript">
        var UrlUsuarios = "@string.Format("{0}Usuarios", TSM.Utils.Config.TSM_WebApi)";
        var UrlUsuariosRoles = "@string.Format("{0}UsuariosRoles", TSM.Utils.Config.TSM_WebApi)";
        var UrlRoles= "@string.Format("{0}Roles", TSM.Utils.Config.TSM_WebApi)";
    </script>
    <script src="~/Scripts/js/UsuariosRoles.js"></script>
}
    <div class="form-row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <div id="gridUsuario"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <div id="gridUsuarioRoles"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



