<div class="col-lg-12">
    <div class="form-row">
        <div class="col-lg-12 form-group">
            <label for="pCampo">1er. Campo:</label>
            <input id="pCampo" name="pCampo" type="text" class="form-control" />
        </div>
        <div class="col-lg-12 form-group">
            <label for="sCampo">2do. Campo:</label>
            <input id="sCampo" name="sCampo" type="text" class="form-control" />
        </div>
        <div class="col-lg-12 form-group">
            <label for="tCampo">3er. Campo:</label>
            <input id="tCampo" name="tCampo" type="text" class="form-control" />
        </div>
        <div class="col-lg-12 form-group">
            <label for="cCampo">4to. Campo:</label>
            <input id="cCampo" name="cCampo" type="text" class="form-control" />
        </div>
        <div class="col-lg-12 form-group">
            <button type="button" id="btnGuardarExpo">Guardar</button>
        </div>
    </div>
</div>