@{
    ViewBag.Title = "Sistema de Tintas";
    ViewBag.IdVersion = "TSM0101014|v18052901";
}
@section Scripts {
        <script type="text/javascript">
            var crudServiceBaseUrl = "@string.Format("{0}SistemaTintas", TSM.Utils.Config.TSM_WebApi)"
        </script>

        <script src="~/Scripts/js/SistemaTintas.js"></script>
    }

<div class="form-row">
    <div class="form-group col-lg-12"> <h4>Sistema de Tintas</h4></div>
    <div class="form-group col-lg-12">
        <div id="grid"></div>
    </div>
</div>


