

<div class="row mb-3">
    <div class="col-12 text-right">
        <button type="button" id="btnGenerarEmbalaje">Generar Unidad de Embalaje</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4 for="gridDetalleItem">Detalle de Mercancia</h4>
        <div id="gridEstatusDespacho"></div>
    </div>
</div>

