
<div class="row">
    <div class="col-12">
        <h4 for="gridDetalleItem">
            <strong>
                Detalle de Mercancia
            </strong>
        </h4>
        <div id="gridEstatusDespacho"></div>
    </div>
</div>

