@{
    ViewBag.Title = "Consulta Ordenes de Despacho";
    ViewBag.IdVersion = "TSM0101142|v22081901";
}
@section Scripts {

    <script type="text/javascript">
        var idCliente = 0;

        @if (ViewBag.IdCliente != null ) {
            <text> idCliente = @ViewBag.IdCliente; </text>
        }
    </script>

    <script src="~/Scripts/js/StepperOD.js?@ViewBag.IdVersion"></script>
    <script src="~/Scripts/js/ConsultaDespacho.js?@ViewBag.IdVersion"></script>
}
<link href="~/Content/TSM-Style.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-lg-5">
                        <label for="cmbCliente" id="lblCliente">Cliente:</label>
                        <input id="cmbCliente" name="cmbCliente" class="" />
                    </div>
                    <div class="col-lg-2">
                        <label for="cmbPlanta" id="lblPlanta">Planta:</label>
                        <input id="cmbPlanta" name="cmbPlanta" class="" />
                    </div>
                    <div class="col-lg-3">
                        <label for="cmbMarca" id="lblMarca">Marca:</label>
                        <input id="cmbMarca" name="cmbMarca" class="" />
                    </div>

                    <div class="col-lg-2 mt-auto">
                        <button type="button" id="btnSolicitarDespacho">Solicitar Despacho</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <nav id="stepperOD"></nav>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <div id="gridDespachos"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@*status de orden de despacho*@
<div id="vMod_statusOrdenDespacho"></div>

<div id="vCambioEstado"></div>
<div id="vCambioEtapa"></div>