
@{
    ViewBag.Title = "Orden de Trabajo Sublimación";
    ViewBag.IdVersion = "TSM0101029|v2003061";
}


@section Scripts {
    <script type="text/javascript">

        var SublimacionIdCliente =@ViewData["IdCliente"];
        var SublimacionIdReque =@ViewData["IdRequerimiento"];


    </script>
    <script src="~/Scripts/js/SublimacionOrdenesTrabajosReg.js"></script>
    <script src="~/Scripts/js/TSM_VerDiseno.js"></script>
}

<link href="~/Content/bootstrap/AdjCarousel.css" rel="stylesheet" />
<link href="~/Content/TSM_imagen_modal.css" rel="stylesheet" />

<style>
    #GRReqDesTec,
    #GRDimension,
    #grid {
        height: 100%;
    }
</style>

@*Etiqueta vista parcial cambio de estado*@
<div id="vCambioEstado"></div>

<!-- SECION FILTRO REQUERIMIENTO DESARROLLO-->
<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="bottom-panel">
                    <div class="form-group col-lg-12">
                        <form id="ReqDes" method="POST" enctype="multipart/form-data" autocomplete="off">
                            <ul id="BarPanel">
                                <li class="k-state-active" id="BPform">
                                    <span class="TS-icon-INFORMACION-2" style="font-size: 1.7em;">&nbsp</span>
                                    Información General
                                    <!-- SECION REQUERIMIENTO y PRENDA -->
                                    <div class="form-row">
                                        <div class="form-group col-lg-12" id="DivFrmRD">
                                            <!-- SECION FORMULARIO REQUERIMIENTO DE DESARROLLO -->
                                            <div class="border p-md-1 p-lg-1 ">
                                                <div class="form-row">

                                                    <div class="col-lg-2"> <input id="IdServicio" name="IdServicio" class="k-textbox form-control" , disabled="disabled" value="0" hidden="hidden" /></div>
                                                    <div class="col-lg-2"> <input id="IdRequerimiento" name="IdRequerimiento" class="k-textbox form-control" , disabled="disabled" value="0" hidden="hidden" /></div>
                                                    <div class="col-lg-2"> <input id="IdEjecutivoCuenta" name="IdEjecutivoCuenta" class="k-textbox form-control" , disabled="disabled" value="" hidden="hidden" /></div>

                                                    <div class="col-lg-2"><input id="TxtEjecutivoCuenta" name="TxtEjecutivoCuenta" class="k-textbox form-control" disabled="disabled" hidden="hidden" /></div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-lg-6 align-self-end">
                                                        <div class="input-group">
                                                            <div style="width: 100%;">
                                                                <button type="button" id="btnIrOrdeTrabajoSublimacion" name="btnIrOrdeTrabajoSublimacion">Ir a Ordenes de Trabajo</button>
                                                                <button type="button" id="btnCambiarEstado" name="btnCambiarEstado">Enviar a Desarrollo Precios</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6 col-lg-3">
                                                        <label for="IdCliente">Cliente:</label>
                                                        <input id="IdCliente" name="IdCliente" required validationMessage="Requerido" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-3">
                                                        <label for="NoDocumento">No Requerimiento:</label>
                                                        <input id="NoDocumento" name="NoDocumento" class="k-textbox form-control" , disabled="disabled" />
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-3">
                                                        <label for="Fecha">Fecha:</label>
                                                        <input id="Fecha" name="Fecha" required validationMessage="Requerido" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6  col-lg-3">
                                                        <label for="IdPrograma">Programa:</label>
                                                        <input id="IdPrograma" name="IdPrograma" required validationMessage="Requerido" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6 col-lg-3">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6 col-lg-7">
                                                                <label for="CntPiezas">Cantidad a Producir:</label>
                                                                <input id="CntPiezas" name="CntPiezas" type="text" required class="form-control" />
                                                            </div>
                                                            <div class="form-group col-md-6 col-lg-5">
                                                                <label for="CmbIdUnidadMedidaCantidad">Unidad de Medida:</label>
                                                                <input id="CmbIdUnidadMedidaCantidad" name="CmbIdUnidadMedidaCantidad" required validationMessage="Requerido" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-3">
                                                        <label for="TxtCantidadSTrikeOff">Strike Off:</label>
                                                        <input id="TxtCantidadSTrikeOff" name="TxtCantidadSTrikeOff" type="text" required class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-3">
                                                        <label for="TxtStrikeOffAdicional">Strike Off Adicional:</label>
                                                        <input id="TxtStrikeOffAdicional" name="TxtStrikeOffAdicional" type="text" required class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-3">
                                                        <label for="Estado" id="lblEstado">Estado:</label>
                                                        <input id="Estado" name="Estado" type="text" class="k-textbox form-control" disabled="disabled" />
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-12 col-lg-12">
                                                        <label for="InstruccionesEspeciales">Comentarios:</label>
                                                        <input id="InstruccionesEspeciales" name="InstruccionesEspeciales" class="k-textbox form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row"><br /></div>
                                            <!-- SECION FORMULARIO PRENDA-->
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <div class="form-row">
                                                        <div class="form-group col-lg-7">
                                                            <div class="form-row">
                                                                <div class="form-group col-lg-12">

                                                                    <div class="border p-md-1 p-lg-1">
                                                                        <div class="form-row">
                                                                            <div class="col-lg-6"><label class="font-weight-bold">Prenda</label></div>
                                                                            <div class="col-lg-3"> <input id="IdModulo" name="IdModulo" class="k-textbox form-control" , disabled="disabled" value="0" hidden="hidden" /></div>
                                                                            <div class="col-lg-3"> <input id="IdCatalogoDiseno" name="IdCatalogoDiseno" class="k-textbox form-control" , disabled="disabled" value="0" hidden="hidden" /></div>
                                                                            <div class="col-lg-3"> <input id="IdSolicitudDisenoPrenda" name="IdSolicitudDisenoPrenda" class="k-textbox form-control" , disabled="disabled" value="0" hidden="hidden" /></div>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <div class="form-group col-md-6 col-lg-3">
                                                                                <label for="IdComposicionTela">Composición Tela:</label>
                                                                                <input id="IdComposicionTela" name="IdComposicionTela" required validationMessage="Requerido" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-6 col-lg-3">
                                                                                <label for="IdCategoriaConfeccion">Confección:</label>
                                                                                <input id="IdCategoriaConfeccion" name="IdCategoriaConfeccion" required validationMessage="Requerido" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-6 col-lg-3">
                                                                                <label for="IdConstruccionTela">Construcción Tela:</label>
                                                                                <input id="IdConstruccionTela" name="IdConstruccionTela" required validationMessage="Requerido" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group col-md-6 col-lg-3">
                                                                                <label for="TxtColorTela">Color Tela:</label>
                                                                                <input id="TxtColorTela" name="TxtColorTela" required validationMessage="Requerido" class="k-textbox form-control" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <div class="form-group col-md-6 col-lg-9">
                                                                                <label for="IdCategoriaPrenda">Tipo Prenda:</label>
                                                                                <input id="IdCategoriaPrenda" name="IdCategoriaPrenda" class="form-control" />
                                                                            </div>

                                                                            <div class="form-group col-md-6 col-lg-3">
                                                                                <label for="TallaPrincipal" id="lblTallas">Tallas:</label>
                                                                                <input id="TallaPrincipal" name="TallaPrincipal" class="k-textbox form-control" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <div class="form-group col-md-12 col-lg-12">
                                                                                <label for="IdPartesDet">Partes prenda:</label>
                                                                                <input id="IdPartesDet" name="IdPartesDet" class="form-control" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <div class="form-group col-md-12 col-lg-12">
                                                                                <label for="TxtDirectorioArchivos">Directorio Archivos:</label>
                                                                                <input id="TxtDirectorioArchivos" name="TxtDirectorioArchivos" type="text" class="k-textbox form-control" />
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-lg-5">
                                                            <!-- SECION ADJUNTOS-->
                                                            <div class="form-row">
                                                                <div class="form-group col-lg-12" id="Div_Carousel">
                                                                    @* aqui se coloca dinamicamente las imagenes  *@
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="form-group col-lg-3">

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="form-row"><br /></div>*@
                                    <div class="form-row">
                                        <div class="form-group col-lg-12">
                                            <!-- SECION FROMULARIO ARTE-->
                                            <div class="border p-md-1 p-lg-1">
                                                <div class="form-row">
                                                    <div class="col-lg-6"><label class="font-weight-bold">Diseño</label></div>
                                                    <div class="col-lg-6"> <input id="IdArte" name="IdArte" class="k-textbox form-control" , disabled="disabled" value="0" hidden="hidden" /></div>

                                                </div>
                                                <div class="form-row">

                                                    <div class="form-group col-md-6 col-lg-3">
                                                        <label for="Nombre">Nombre del Diseño:</label>
                                                        <input id="Nombre" name="Nombre" type="text" class="k-textbox form-control" required validationMessage="Requerido" />
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-3">
                                                        <label for="NumeroDiseno">Numero del Diseño:</label>
                                                        <input id="NumeroDiseno" name="NumeroDiseno" type="text" class="k-textbox form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-3">
                                                        <label for="EstiloDiseno">Estilo:</label>
                                                        <input id="EstiloDiseno" name="EstiloDiseno" type="text" class="k-textbox form-control" required validationMessage="Requerido" />
                                                    </div>
                                                    <div class="form-group col-md-6 col-lg-3  align-self-end" hidden="hidden">
                                                        <input type="checkbox" id="chkRegistroCompletado" name="chkRegistroCompletado" class="k-checkbox">
                                                        <label class="k-checkbox-label" for="chkRegistroCompletado">Registro Compleado </label>
                                                    </div>

                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-lg-12"><label class="font-weight-bold">Historial de Cambios</label></div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-lg-12"> <div id="gCambios"></div></div>
                                                </div>
                                            </div>


                                            <div class="form-row"> <div class="form-group"></div></div>
                                            <div class="form-row">
                                                <div class="form-group col-md-12 col-lg-4 align-self-lg-end">
                                                    <div class="input-group">
                                                        <div style="width: 100%;">
                                                            <button type="button" id="Guardar" name="Guardar"></button>
                                                            <button type="button" id="Eliminar" name="Eliminar"></button>
                                                            @Html.Partial("~/Views/RequerimientoDesarrollos/_ArteAdjuntos.cshtml")
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </li>

                            </ul>
                        </form>
                        @* div utilizado para cargar la vista estados *@
                        <div class="form-row" id="vConsultaEstados"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="vCambioEstado"></div>
