
<form id="FrmAnutCntEsta" enctype="multipart/form-data">

    <div class="form-row">
        <div class="form-group col-lg-3">
            <label for="TxtCntPermitidas">Estaciones Permitidas:</label>
            <input id="TxtCntPermitidas" name="TxtCntPermitidas" type="text" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-12">
            <label for="TxtComentariosAutorizarPermitida">Motivo:</label>
            <textarea id="TxtComentariosAutorizarPermitida" name="TxtComentariosAutorizarPermitida" type="text" class="form-control" rows="4" style="margin-top: 0px; margin-bottom: 0px; height: 100%;" />
        </div>
    </div>
    <br />
    <br />
    <div class="form-row">
        <div class="form-group col-lg-auto">
            <div class="input-group-prepend">
                <div style="width: 100%;">
                    <button type="button" id="btnActualizarCntPermi" name="btnActualizarCntPermi">Actualizar Cantidad</button>
                </div>
            </div>
        </div>

    </div>
 </form>