
    <div class="form-row">
        <div class="form-group col-lg-12">
            <div class="list-group list-group-messages list-group-flush" id="ListRetenciones">
                <div class="list-group-item read" id="List-13-5-3-2" notiread="true">
                    @*<div class="list-group-item-figure">
                        <div class="TSM-notif-icon TSM-notif-Media"> 
                        <i class="k-icon k-i-lock"></i> 
                        </div>
                    </div>*@
                    <div class="list-group-item-body pl-3 pl-md-4">
                        <div class="form-row">
                            <div class="form-group col-lg-10 ">
                                <h4 class="list-group-item-title">
                                <span></span>
                                </h4>
                                <p class="list-group-item-text"></p>
                            </div>
                            <div class="form-group  col-lg-2 text-lg-right">
                                <p class="list-group-item-text"></p>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-12"><div class="form-control" id="pager"></div></div>
    </div>
<div id="vCambioEstado"></div>
          
