
<form id="FrmCambioEstado" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-lg-12">
            <label for="cmbEtapas">Etapas:</label>
            <input id="cmbEtapas" name="cmbEtapas" required validationMessage="Requerido" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-12">
            <label for="TxtMotivoEtapa" id="lblMotivoEtapa" name="lblMotivoEtapa">Motivo:</label>
            <textarea id="TxtMotivoEtapa" name="TxtMotivoEtapa" type="text" class="form-control" rows="4" style="margin-top: 0px; margin-bottom: 0px; height: 100%;" readonly />
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="form-group col-lg-12 k-dialog-buttongroup k-actions k-hstack k-justify-content-stretch">
            <button id="btnCambiarEtapaOD" name="btnCambiarEtapaOD" class="k-button-solid-primary">Cambiar</button>
            <button id="btnCancelarEtapaOD" name="btnCancelarEtapaOD">Cancelar</button>
        </div>
    </div>
</form>