
<form id="FrmCambioEstado" enctype="multipart/form-data" >
    <div class="form-row">
        <div class="form-group col-lg-12">
            <label for="cmbEstados">Estados:</label>
            <input id="cmbEstados" name="cmbEstados" required validationMessage="Requerido" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-12">
            <label for="TxtMotivo">Motivo:</label>
            <textarea id="TxtMotivo" name="TxtMotivo" type="text" class="form-control" rows="4" style="margin-top: 0px; margin-bottom: 0px; height: 100%;" />
        </div>
    </div>
</form>

