<form id="FrmCambioEstado" enctype="multipart/form-data" >
    <div class="row">
        <div class="form-group col-lg-3">
            <label for="cmbEstados" style="font-size: 1.2em;">Estados:</label>
        </div>
        <div class="form-group col-lg-9">
            <input id="cmbEstados" name="cmbEstados" required validationMessage="Requerido" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12">
            <label for="TxtMotivo" style="font-size: 1.2em;">Motivo:</label>
            <textarea id="TxtMotivo" name="TxtMotivo" type="text" class="form-control" required validationMessage="Requerido" style="margin-top: 0px; margin-bottom: 0px; height: 100%;" />
        </div>
    </div>
</form>

