
<div class="row mt-3">
    <div class="col-6">
        <div class="form-group mb-lg-2 mb-xl-3">
            <label for="txtCorte" id="lblCorte" class="mb-lg-1">Corte:</label>
            <input id="txtCorte" name="txtCorte" class="k-textbox form-control" />
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-lg-2 mb-xl-3">
            <label for="progres" id="lblProgres" class="mb-lg-1">Progreso del Estampado:</label>
            <div id="progressBar" style="width: 100%;"></div>
        </div>
    </div>
</div>
<div class="row mt-3">
    
    <div class="col-12">
        <div class="row">
            <ol class="list-group horizontal-steps p-1" id="stepConsulta">
            </ol>
        </div>
    </div>
</div>
