
<div class="row">
    <div class="col-8">
        <div class="row">
            <div id="gcMercancia"></div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="form-group" id="div_ImDis">
                <img class="k-card-image rounded mx-auto d-block" src="/content/Images/NoImagen.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group mb-lg-2 mb-xl-3">
                    <label for="txt_CodigoFM" id="lbl_CodigoFM" class="mb-lg-1">Código (FM):</label>
                    <input id="txt_CodigoFM" name="txt_CodigoFM" class="k-textbox form-control" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mb-lg-2 mb-xl-3">
                    <label for="txt_Diseño" id="lbl_Diseño" class="mb-lg-1">Diseño:</label>
                    <input id="txt_Diseño" name="txt_Diseño" class="k-textbox form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group mb-lg-2 mb-xl-3">
                    <label for="txt_Estilo" id="lbl_Estilo" class="mb-lg-1">Estilo:</label>
                    <input id="txt_Estilo" name="txt_Estilo" class="k-textbox form-control" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mb-lg-2 mb-xl-3">
                    <label for="txt_Numero" id="lbl_Numero" class="mb-lg-1">Número:</label>
                    <input id="txt_Numero" name="txt_Numero" class="k-textbox form-control" />
                </div>
            </div>
        </div>
        <div class="row" style="display:none;">
            <div class="col-6">
                <div class="form-group mb-lg-2 mb-xl-3">
                    <label for="txt_Parte" id="lbl_Parte" class="mb-lg-1">Parte:</label>
                    <input id="txt_Parte" name="txt_Parte" class="k-textbox form-control" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mb-lg-2 mb-xl-3">
                    <label for="txt_NombrePrenda" id="lbl_NombrePrenda" class="mb-lg-1">Prenda :</label>
                    <input id="txt_NombrePrenda" name="txt_NombrePrenda" class="k-textbox form-control" />
                </div>
            </div>
        </div>
        <div class="row" style="display:none;">
            <div class="col-12">
                <div class="form-group mb-lg-2 mb-xl-3">
                    <label for="txt_Composicion" id="lbl_Composicion" class="mb-lg-1">Composición:</label>
                    <input id="txt_Composicion" name="txt_Composicion" class="k-textbox form-control" />
                </div>
            </div>
        </div>
    </div>
</div>