
<div class="form-row">
    <div class="col-lg-12 form-group">
        <div id="gridListaEmpaque" class="form-control"></div>
    </div>
</div>
@*<div class="form-row">
    <div class="col-lg-12 form-group" style="text-align: right; align-self: end; ">
        <button type="button" id="btn_Le_CrearReg">Crear Registro</button>
    </div>
</div>*@
