<form id="FrmCrearListEmp" >
    <div class="form-row">
        <div class="col-lg-3 form-group">
            <label for="txtNoRefePackingList">No Referencia PL:</label>
            <input id="txtNoRefePackingList" name="txtNoRefePackingList" type="text" class="k-textbox form-control" />
        </div>
        <div class="col-lg-9 form-group"></div>
        <div class="col-lg-12 form-group">
            <div id="gridListaEmpaque" class="form-control"></div>
        </div>
    </div>
</form>


