<div class="form-row">
    <div class="form-group col-lg-12">

        <div class="form-row">
            <div class="form-group col-lg-4">
                <button type="button" id="btnConsultarPesos">Detalle de pesos</button>
                <button type="button" id="btnAjuste_Mues" data-role="button" class="k-button k-button-icontext" role="button" aria-disabled="false" tabindex="0">
                    <span class="k-icon k-i-warning"></span>&nbsp;Ajustes
                </button>
                <button type="button" id="btnCambiarEstadoEtapa">Cambiar Estado Muestra</button>
            </div>
            <div class="form-group col-lg-auto align-middle">
                <label for="txtEstadoEtapa" id="lblEstadoEtapa">Estado Muestra:</label>
            </div>
            <div class="form-group col-lg-4">
                <input type="text" id="txtEstadoEtapa" class="k-textbox form-control" disabled="disabled" />
            </div>
        </div>
    </div>
</div>

<div class="form-row">
    <div id="maquinaDesarrolloMues"></div>
</div>
<div id="MEstacionMuestra" data-url='@Url.Action("EstacionMuestra","Estaciones")'></div>
<div id="MEstacionAccesoriosMuest" data-url='@Url.Action("EstacionAccesoriosMuest","Estaciones")'></div>
<div id="vCamEstado"></div>
<div id="MbtConsulta">
    <div class="form-row">
        <div class=" form-group col-lg-12">
            <div id="gridEstacionPeso"></div>
        </div>
    </div>
</div>