<div class="form-row">
    <div class="form-group col-lg-12">
        <form id="FrmDM" enctype="multipart/form-data" autocomplete="off">
            <div class="form-row">
                <div id="AlertaEstacionDis"></div>
            </div>
            <div class="form-row">
                <input id="TxtIdDisenoMuestra" name="TxtIdDisenoMuestra" class="k-textbox form-control" , disabled="disabled" value="0" hidden="hidden" />
                <input id="TxtIdRequerimiento" name="TxtIdRequerimiento" class="k-textbox form-control" , disabled="disabled" value="0" hidden="hidden" />
                <div class="form-group col-lg-3">
                    <label for="DtFecha">Fecha</label>
                    <input id="DtFecha" name="DtFecha" class="form-control" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="CmbIdImpresor">Impresor</label>
                    <input id="CmbIdImpresor" name="CmbIdImpresor" class="form-control" required validationMessage="Requerido" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="CmbIdOrientacionPositivo">Orientacion Positivos:</label>
                    <input id="CmbIdOrientacionPositivo" name="CmbIdOrientacionPositivo" class="form-control" validationMessage="Requerido" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="CmbIdTipoSeparacion">Tipo Separción</label>
                    <input id="CmbIdTipoSeparacion" name="CmbIdTipoSeparacion" class="form-control" required validationMessage="Requerido" />
                </div>
            </div>
            <div class="form-row">


            </div>
            <div class="form-row">
                <div class="form-group col-lg-3">
                    <label for="NumAnchoDiseno">Ancho</label>
                    <input id="NumAnchoDiseno" name="NumAnchoDiseno" class="form-control" required value="0" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="NumAltoDiseno">Alto</label>
                    <input id="NumAltoDiseno" name="NumAltoDiseno" class="form-control" required value="0" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="CmbIdUnidad">Unidad Medida</label>
                    <input id="CmbIdUnidad" name="CmbIdUnidad" class="form-control" required validationMessage="Requerido" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="TxtDirectorio">Directorio Archivos</label>
                    <textarea id="TxtDirectorio" name="TxtDirectorio" class="form-control" readonly="readonly" rows="4"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-3">
                    <label for="NumTiempoTra">Tiempo Trabajo (min)</label>
                    <input id="NumTiempoTra" name="NumTiempoTra" class="form-control" required value="0" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="NumLPelicula">Longitud de Pel&iacute;cula</label>
                    <input id="NumLPelicula" name="NumLPelicula" class="form-control" value="0" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="CmbIdUnidadLP">Unidad Medida</label>
                    <input id="CmbIdUnidadLP" name="CmbIdUnidadLP" class="form-control" required validationMessage="Requerido" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="TxtObservaciones">Comentarios</label>
                    <textarea id="TxtObservaciones" name="TxtObservaciones" class="form-control" rows="4"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-4 align-self-end">
                    <div class="input-group-prepend">
                        <div style="width: 100%;">
                            <button type="button" id="btnGuardarDiseñoMues" name="btnGuardarDiseñoMues"></button>
                            <button type="button" id="btnAddColorDis" name="btnAddColorDis"></button>
                            <button type="button" id="btnUpdDimen" name="btnUpdDimen" hidden="hidden"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="form-row">
    <div id="maquinaDiseno"></div>
</div>
<div id="MEstacionDisenos" data-url='@Url.Action("EstacionDisenos","Estaciones")'></div>
<div id="MEstacionAccesoriosDis" data-url='@Url.Action("EstacionAccesoriosDis","Estaciones")'></div>

<div id="vDimenReq"></div>