
<div class="form-row">
    <div class="form-group col-lg-12">
        <form id="FrmDM" enctype="multipart/form-data" autocomplete="off">
            <div class="form-row">
                <input id="TxtIdDisenoMuestra" name="TxtIdDisenoMuestra" class="k-textbox form-control" , disabled="disabled" value="0" hidden="hidden" />
                <input id="TxtIdRequerimiento" name="TxtIdRequerimiento" class="k-textbox form-control" , disabled="disabled" value="0" hidden="hidden" />
                <div class="form-group col-lg-3">
                    <label for="DtFecha">Fecha</label>
                    <input id="DtFecha" name="DtFecha" class="form-control" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="CmbIdOrientacionPositivo">Orientacion Positivos:</label>
                    <input id="CmbIdOrientacionPositivo" name="CmbIdOrientacionPositivo" class="form-control" required validationMessage="Requerido" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="CmbIdTipoSeparacion">Tipo Separción</label>
                    <input id="CmbIdTipoSeparacion" name="CmbIdTipoSeparacion" class="form-control" required validationMessage="Requerido" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="TxtDirectorio">Directorio Archivos</label>
                    <input id="TxtDirectorio" name="TxtDirectorio" type="text" class="k-textbox form-control" readonly="readonly" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-3">
                    <label for="NumAnchoDiseno">Ancho</label>
                    <input id="NumAnchoDiseno" name="NumAnchoDiseno" class="form-control" required value="0" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="NumAltoDiseno">Alto</label>
                    <input id="NumAltoDiseno" name="NumAltoDiseno" class="form-control" required value="0" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="CmbIdUnidad">Unidad Medida</label>
                    <input id="CmbIdUnidad" name="CmbIdUnidad" class="form-control" required validationMessage="Requerido" />
                </div>
                <div class="form-group col-lg-3">
                    <label for="TxtObservaciones">Comentarios</label>
                    <input id="TxtObservaciones" name="TxtObservaciones" class="k-textbox form-control" />
                </div>
            </div>
       
            <div class="form-row">
                <div class="form-group col-lg-4 align-self-end">
                    <div class="input-group-prepend">
                        <div style="width: 100%;">
                            <button type="button" id="btnGuardarDiseñoMues" name="btnGuardarDiseñoMues"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-lg-3">
        <div id="dgColorDis"></div>
    </div>
    <div class="form-group col-lg-3">
        <div id="dgTecnicaDis"></div>
    </div>
    <div class="form-group col-lg-3">
        <div id="dgBasesDis"></div>
    </div>
    <div class="form-group col-lg-3">
        <div id="dgAccesoriosDis"></div>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-lg-12">
        <div class="form-row">
            <div class="form-group col-lg-3">
                <label for="CmbMaquinaDis">Selección de Maquina:</label>
                <input id="CmbMaquinaDis" name="CmbMaquinaDis" required validationMessage="Requerido" type="text" class="form-control" />
            </div>
            <div class="form-group col-lg-3 col-md-4 align-self-lg-end"> <button type="button" id="btnBTDis" data-role="button" class="k-button k-button-icontext" role="button" aria-disabled="false" tabindex="0"><span class="k-icon k-i-hyperlink-open-sm"></span>&nbsp;Limpiar Seteo</button></div>
            <div class="col-lg-9 col-md-5"></div>
        </div>
    </div>
</div>
<div class="form-row">
    @Html.Partial("_MaqSR22")
</div>

<div id="MEstacionDisenos" data-url='@Url.Action("EstacionDisenos","Estaciones")'></div>
<div id="MEstacionAccesoriosDis" data-url='@Url.Action("EstacionAccesoriosDis","Estaciones")'></div>