
<div class="form-row">
    <div class="form-group col-lg-6">
        <label for="TxtGFP_CodigoFM">Código FM:</label>
        <input id="TxtGFP_CodigoFM" name="TxtGFP_CodigoFM" class="k-textbox form-control" />
    </div>

    <div class="form-group col-lg-6">
        <label for="TxtGFP_OrdenTrabajo">No Orden trabajo: </label>
        <input id="TxtGFP_OrdenTrabajo" name="TxtGFP_OrdenTrabajo" class="k-textbox form-control" />
    </div>
</div>

<div class="form-row">
    <div class="form-group col-lg-6">
        <label for="TxtGFP_NombreDiseno">Nombre del Diseno:</label>
        <input id="TxtGFP_NombreDiseno" name="TxtGFP_NombreDiseno" class="k-textbox form-control" />
    </div>
    <div class="form-group col-lg-6">
        <label for="TxtGFP_Talla">Talla Desarrollada:</label>
        <input id="TxtGFP_Talla" name="TxtGFP_Talla" class="k-textbox form-control" />
    </div>
</div>

<form id="FrmModalCambioEstado" method="POST" enctype="multipart/form-data" autocomplete="off">
    <div class="form-row">
        <div class="form-group col-lg-12">
            <label for="CmbNoDocFichaProd">No Ordenes Trabajo de Referencia:</label>
            <input id="CmbNoDocFichaProd" name="CmbNoDocFichaProd" type="text" class="form-control" />
        </div>
    </div>
</form>

