<div class="form-row">
    <div class="col-lg-12">
        <div class="form-group">
            <div id="gridVersionesSeteos"></div>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-row">
        <div class="col-lg-12"><label class="font-weight-bold">Datos de Marcos</label></div>
    </div>
    <div class="form-group col-lg-12">
        <div id="gMarcos"></div>
    </div>
</div>
<div class="form-row">
    <div class="form-row">
        <div class="col-lg-12"><label class="font-weight-bold">Datos de Fórmulas</label></div>
    </div>
    <div class="form-group col-lg-12">
        <div id="gFor"></div>
    </div>
</div>