

<form id="FrmIngresoBultoAddItem" method="POST" enctype="multipart/form-data" autocomplete="off">
    <div class="col-lg-12">
        <div class="form-row">
            <div class="col-lg-12 form-group">
                <label for="txt_Item">Item:</label>
                <input id="txt_Item" name="txt_Item" type="text" class="k-textbox form-control input-number" />
            </div>
            <div class="col-lg-12 form-group">
                <label for="txt_IncisoArancelario">Inciso Arancelario:</label>
                <input id="txt_IncisoArancelario" name="txt_IncisoArancelario" type="text" class="k-textbox form-control" />
            </div>

            <div class="col-lg-12 form-group">
                <label for="txt_Descripcion">Descripcion:</label>
                <input id="txt_Descripcion" name="txt_Descripcion" type="text" class="k-textbox form-control" />
            </div>
            <div class="col-lg-12 form-group">
                <label for="num_Peso">Peso:</label>
                <input id="num_Peso" name="num_Peso" type="text" class="form-control" />
            </div>

            <div class="col-lg-12 form-group">
                <label for="num_Cuantia">Cuantia:</label>
                <input id="num_Cuantia" name="num_Cuantia" type="text" class="form-control" />
            </div>

            <div class="col-lg-12 form-group">
                <label for="num_Valor">Valor:</label>
                <input id="num_Valor" name="num_Valor" type="text" class="form-control" />
            </div>

            <div class="col-lg-12 form-group" style="text-align: center; align-self: end;">
                <button type="button" id="btn_GuardarAddItem">Guardar Registro</button>
            </div>
        </div>
    </div>
</form>