

<form id="FrmIngresoBulto" method="POST" enctype="multipart/form-data" autocomplete="off">
    <div class="col-lg-12">
        <div class="form-row">
            <div class="col-lg-4 form-group">
                <label for="txt_NotaRemision">Nota de Remision:</label>
                <input id="txt_NotaRemision" name="txt_NotaRemision" type="text" class="k-textbox form-control input-number" />
            </div>
            <div class="col-lg-4 form-group">
                <label for="dFechaIngreso">Fecha:</label>
                <input id="dFechaIngreso" name="dFechaIngreso" type="text" class="form-control" />
            </div>
            <div class="col-lg-4 form-group" style="text-align: center; align-self: end;">
                <button type="button" id="btnCalcularDatos">Calcular Datos</button>
            </div>
            <div class="col-lg-12 form-group">
                <div id="gridDetalleNotaRemision" class="form-control"></div>
            </div>
        </div>
    </div>
</form>