
<form id="FrmIngresoBulto" method="POST" enctype="multipart/form-data" autocomplete="off">
    <div class="col-lg-12">
        <div class="form-row">
            <div class="col-lg-12 form-group">
                <label for="txt_Ib_Bulto">Bulto/Rollo:</label>
                <input id="txt_Ib_Bulto" name="txt_Ib_Bulto" type="text" class="k-textbox form-control input-number" />
            </div>
            <div class="col-lg-12 form-group">
                <label for="txt_Ib_Talla">Talla:</label>
                <input id="txt_Ib_Talla" name="txt_Ib_Talla" type="text" class="k-textbox form-control" />
            </div>

            <div class="col-lg-12 form-group">
                <label for="num_Ib_Cantidad">Cantidad:</label>
                <input id="num_Ib_Cantidad" name="num_Ib_Cantidad" type="text" class="form-control" aria-describedby="num_Ib_CantidadHelp" />
                <small id="num_Ib_CantidadHelp" class="form-text text-muted">
                    Favor verificar bien el ingreso del dato según hoja de bandeo
                </small>
            </div>

            <div class="col-lg-12 form-group" style="text-align: center; align-self: end;">
                <button type="button" id="btn_Ib_Guardar">Guardar Registro</button>
            </div>
        </div>



    </div>
</form>


