
<style>
    .k-datepicker .k-select {
        display: none;
    }

    #GRDimension_Cota,
    #GRReqDesTec_Cota {
        height: 100%;
    }
</style>


<div class="form-row">
    <div class="form-group col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-lg-12" id="DivFrmRD">
                        <!-- SECION FROMULARIO REQUERIMIENTO DE DESARROLLO -->
                        <div class="border p-md-1 p-lg-1 ">
                            <div class="form-row">
                                <div class="col-md-6 col-lg-10"> <label class="font-weight-bold">Información General</label></div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 col-lg-3">
                                    <label for="NoDocumento_Cota">No Requerimiento:</label>
                                    <input id="NoDocumento_Cota" name="NoDocumento_Cota" type="text" class="k-textbox form-control" />
                                </div>
                                <div class="form-group col-md-6 col-lg-3">
                                    <label for="TxtFechaConsulta">Fecha Requerimiento:</label>
                                    <input id="TxtFechaConsulta" name="TxtFechaConsulta" class="form-control" />
                                </div>
                                <div class="form-group col-md-6  col-lg-3">
                                    <label for="TxtPrograma">Programa:</label>
                                    <input id="TxtPrograma" name="TxtPrograma" type="text" class="k-textbox form-control" />
                                </div>
                                <div class="form-group col-md-6 col-lg-3 align-self-end">
                                    <input type="checkbox" id="chkRevisionTecnica_Cota" name="chkRevisionTecnica" class="k-checkbox" disabled="disabled">
                                    <label class="k-checkbox-label" for="chkRevisionTecnica_Cota">Revisión Técnica</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 col-lg-3">
                                    <label for="TxtUbicacion">Ubicación del Estampado:</label>
                                    <input id="TxtUbicacion" name="TxtUbicacion" type="text" class="k-textbox form-control" />
                                </div>
                                <div class="form-group col-md-6 col-lg-3">
                                    <label for="UbicacionVer_Cota">Ubicación Vertical: </label>
                                    <input id="UbicacionVer_Cota" name="UbicacionVer_Cota" type="text" class="k-textbox form-control" />
                                </div>
                                <div class="form-group col-md-6 col-lg-3">
                                    <label for="UbicacionHor_Cota">Ubicación Horizontal:</label>
                                    <input id="UbicacionHor_Cota" name="UbicacionHor_Cota" type="text" class="k-textbox form-control" />
                                </div>

                                <div class="form-group col-md-6 col-lg-3">
                                    <div class="form-row">
                                        <div class="form-group col-md-6 col-lg-7">
                                            <label for="CntPiezas_Cota">Cantidad a Producir:</label>
                                            <input id="CntPiezas_Cota" name="CntPiezas_Cota" type="text" class="k-textbox form-control" />
                                        </div>
                                        <div class="form-group col-md-6 col-lg-5">
                                            <label for="CmbIdUnidadMedidaCantidad_Cota">Unidad</label>
                                            <input id="CmbIdUnidadMedidaCantidad_Cota" name="CmbIdUnidadMedidaCantidad_Cota" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" id="Row4RD">
                                <!-- Row4RD este id se utiliza para oculatar la fila dependiendo del servicio-->
                                <div class="form-group col-md-6 col-lg-3">
                                    <label for="TallaPrincipal_Cota">Tallas:</label>
                                    <input id="TallaPrincipal_Cota" name="TallaPrincipal_Cota" type="text" class="k-textbox form-control" />
                                </div>
                                <div class="form-group col-md-6 col-lg-3">
                                    <div class="form-row">
                                        <div class="form-group col-md-7 col-lg-6">
                                            <label for="CantidadColores_Cota">Cant. Colores:</label>
                                            <input id="CantidadColores_Cota" name="CantidadColores_Cota" type="text" class="k-textbox form-control" />
                                        </div>
                                        <div class="form-group col-md-5 col-lg-6 align-self-end">
                                            <input type="checkbox" id="chkDisenoFullColorConsulta_Cota" name="chkDisenoFullColorConsulta_Cota" class="k-checkbox" disabled="disabled">
                                            <label class="k-checkbox-label" for="chkDisenoFullColorConsulta_Cota">Full Color</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-lg-3">
                                    <label for="CantidadTallas_Cota">Cantidad Tallas:</label>
                                    <input id="CantidadTallas_Cota" name="CantidadTallas_Cota" type="text" class="k-textbox form-control" />

                                </div>
                                <div class="form-group col-md-6 col-lg-3">
                                    <label for="Montaje_Cota">Montaje:</label>
                                    <input id="Montaje_Cota" name="Montaje_Cota" type="text" class="k-textbox form-control" />

                                </div>

                            </div>
                            <div class="form-row" id="Row5RD">
                                <!-- Row5RD este id se utiliza para oculatar la fila dependiendo del servicio-->
                                <div class="form-group col-md-6 col-lg-3">
                                    <label for="Combo_Cota">Combo:</label>
                                    <input id="Combo_Cota" name="Combo_Cota" type="text" class="k-textbox form-control" />
                                </div>
                                <div class="form-group col-md-6 col-lg-3">
                                    <label for="TxtVelocidadMaquinaConsulta">Velocidad Maquina:</label>
                                    <input id="TxtVelocidadMaquinaConsulta" name="TxtVelocidadMaquinaConsulta_Cota" class="k-textbox form-control" required value="0" />
                                </div>
                                <div class="form-group col-md-6 col-lg-3">
                                    <label for="CmbIdUnidadVelocidadConsulta">Unidad Velocidad:</label>
                                    <input id="CmbIdUnidadVelocidadConsulta" name="CmbIdUnidadVelocidadConsulta" class="form-control" />
                                </div>
                                <div class="form-group col-md-6 col-lg-3">
                                    <label for="CmbBase_Cota">Base:</label>
                                    <input id="CmbBase_Cota" name="CmbBase_Cota" class="form-control" required validationMessage="Requerido" />
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 col-lg-12">
                                    <label for="InstruccionesEspeciales_Cota"> Instrucciones Especiales:</label>
                                    <input id="InstruccionesEspeciales_Cota" name="InstruccionesEspeciales_Cota" type="text" class="k-textbox form-control" />
                                </div>
                            </div>

                        </div>
                        <!-- SECION FROMULARIO PRENDA-->
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                            </div>
                        </div>
                        <div class="border p-md-1 p-lg-1">
                            <div class="form-row">
                                <div class="col-lg-6"><label class="font-weight-bold">Prenda</label></div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 col-lg-3">
                                    <label for="TxtComposicionTela">Composición Tela:</label>
                                    <input id="TxtComposicionTela" name="TxtComposicionTela" type="text" class="k-textbox form-control" />
                                </div>
                                <div class="form-group col-md-6 col-lg-3">
                                    <label for="TxtCategoriaConfeccion">Confección:</label>
                                    <input id="TxtCategoriaConfeccion" name="TxtCategoriaConfeccion" type="text" class="k-textbox form-control" />
                                </div>
                                <div class="form-group col-md-6 col-lg-3">
                                    <label for="TxtConstruccionTela">Construcción Tela:</label>
                                    <input id="TxtConstruccionTela" name="TxtConstruccionTela" type="text" class="k-textbox form-control" />
                                </div>
                                <div class="form-group col-md-6 col-lg-3">
                                    <label for="Color_Cota">Color:</label>
                                    <input id="Color_Cota" name="Color_Cota" type="text" class="k-textbox form-control" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 col-lg-12">
                                    <label for="TxtCategoriaPrenda">Prenda Estampar:</label>
                                    <input id="TxtCategoriaPrenda" name="TxtCategoriaPrenda" class="form-control" />
                                </div>


                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 col-lg-12">
                                    <label for="IdSistemaTinta_Cota">Sistemas de Tintas:</label>
                                    <input id="IdSistemaTinta_Cota" name="IdSistemaTinta_Cota" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <!-- SECION FROMULARIO ARTE-->
                        <div class="border p-md-1 p-lg-1">
                            <div class="form-row">
                                <div class="col-lg-6"><label class="font-weight-bold">Diseño</label></div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 col-lg-4">
                                    <label for="Nombre_Cota">Nombre del Diseño:</label>
                                    <input id="Nombre_Cota" name="Nombre_Cota" type="text" class="k-textbox form-control" required validationMessage="Requerido" />
                                </div>
                                <div class="form-group col-md-6  col-lg-4">
                                    <label for="NumeroDiseno_Cota">Numero del Diseño:</label>
                                    <input id="NumeroDiseno_Cota" name="NumeroDiseno_Cota" type="text" class="k-textbox form-control" required validationMessage="Requerido" />
                                </div>
                                <div class="form-group col-md-6 col-lg-4">
                                    <label for="EstiloDiseno_Cota">Estilo:</label>
                                    <input id="EstiloDiseno_Cota" name="EstiloDiseno_Cota" type="text" class="k-textbox form-control" required validationMessage="Requerido" />
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-lg-12">
                                    <label for="TxtDirectorioArchivos_Cota">Directorio Archivos:</label>
                                    <input id="TxtDirectorioArchivos_Cota" name="TxtDirectorioArchivos_Cota" type="text" class="k-textbox form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row" id="DimenMsg">
                    <div class="col-lg-12"><label class="font-weight-bold">Dimensiones</label></div>
                </div>
                <!-- SECION GRID DIMENSIONES TALLAS-->
                <div class="form-row" id="DimenGrid">
                    <div class="form-group col-lg-12">
                        <div id="GRDimension_Cota"></div>
                    </div>
                </div>
                <!-- SECION GRID REQUERIMIENTO DESARROLLO TECNICAS-->
                <div class="form-row" id="ColorMsg">
                    <div class="col-lg-12"><label class="font-weight-bold">Detalle Ténicas</label></div>
                </div>
                <div class="form-row" id="ColorGrid">
                    <div class="form-group col-lg-12">
                        <div id="GRReqDesTec_Cota"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

