
<div class="col-lg-12">
    <div class="form-row">
        <div class="form-group" id="dbg_Grid"></div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-12">
            <label for="TxtMotivo_consulta">Motivo:</label>
            <textarea class="form-control" id="TxtMotivo_consulta" name="TxtMotivo_consulta" rows="6" ></textarea>
        </div>
    </div>
</div>


