
<div class="form-group col-md-12 col-lg-12">
    <div class="row">
        <div class="form-group col-md-12 col-lg-12" id="dbg_Grid"></div>
    </div>
    <div class="row">
        <div class="form-group col-md-12  col-lg-12">
            <label for="TxtMotivo_consulta" style="font-size: 1.2em;">Motivo:</label>
            <textarea class="form-control" id="TxtMotivo_consulta" name="TxtMotivo_consulta" rows="6" style="margin-top: 0px; margin-bottom: 0px; width: 100%;"></textarea>
        </div>
    </div>
</div>


