
<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-lg-1">
                        <label for="TxtCntEstacionesPermitidas">Estaciones Permitidas</label>
                        <input id="TxtCntEstacionesPermitidas" name="TxtCntEstacionesPermitidas" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-1 align-self-end">
                        <div class="input-group-prepend">
                            <div style="width: 100%;">
                                <button type="button" id="btnAddColorRev" name="btnAddColorRev"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div id="maquinaRevTec"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="MEstacionColor" data-url='@Url.Action("EstacionColores","Estaciones")'></div>
<div id="MEstacionAccesorios" data-url='@Url.Action("EstacionAccesorios","Estaciones")'></div>