<style>
    #gridRentabilidad_colta,
    #gridSimuConsumo_colta {
        height: 100%;
    }
</style>

<div class="form-row">
        <div class="card">
            <div class="card-body">
                <div id="TabSimulacion">
                    <ul>
                        <li class="k-state-active">
                            Datos de Simulación
                        </li>
                        <li>
                            Consumos
                        </li>
                        <li>
                            Rentabilidad
                        </li>
                    </ul>
                    <div id="TabPDatos" class="form-group col-md-12 col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-12 col-lg-4">
                                <label for="TxtNoDocumento_colta">No Simulación:</label>
                                <input id="TxtNoDocumento_colta" name="TxtNoDocumento_colta" class="k-textbox form-control" , disabled="disabled" />
                            </div>
                            <div class="form-group col-md-12 col-lg-4">
                                <label for="TxtFechaSim_colta">Fecha:</label>
                                <input id="TxtFechaSim_colta" name="TxtFechaSim_colta" class="form-control" />
                            </div>
                            <div class="form-group col-md-12 col-lg-4">
                                <label for="TxtEstado_colta">Estado:</label>
                                <input id="TxtEstado_colta" name="TxtEstado_colta" class="k-textbox form-control" , disabled="disabled" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 col-lg-4">
                                <label for="TxtCantidadPiezas_colta">Cantidad de Piezas:</label>
                                <input id="TxtCantidadPiezas_colta" name="TxtCantidadPiezas_colta" class="form-control" />
                            </div>
                            <div class="form-group col-md-12 col-lg-4">
                                <label for="TxtCantidadTecnicas_colta">Cantidad Tenicas:</label>
                                <input id="TxtCantidadTecnicas_colta" name="TxtCantidadTecnicas_colta" class="form-control" />
                            </div>
                            <div class="form-group col-md-12 col-lg-4">
                                <label for="txtTiempoProyecto_colta">Horas de Proyecto:</label>
                                <input id="txtTiempoProyecto_colta" name="txtTiempoProyecto_colta" class="form-control" />
                            </div>
                        </div>
                        @*Datos de Costos por Corrida*@
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label class="font-weight-bold">Datos de Costos por Corrida</label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="TxtCostoMP_colta">Costo de Materia Prima Total:</label>
                                        <input id="TxtCostoMP_colta" name="TxtCostoMP_colta" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="TxtCostoMOD_colta">Costo de Mano de Obra Directa:</label>
                                        <input id="TxtCostoMOD_colta" name="TxtCostoMOD_colta" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="TxtCostoPrimo_colta">Costo Primo:</label>
                                        <input id="TxtCostoPrimo_colta" name="TxtCostoPrimo_colta" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="TxtCostoFabril_colta">Costo Fabril Total:</label>
                                        <input id="TxtCostoFabril_colta" name="TxtCostoFabril_colta" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="TxtCostoProduccion_colta">Costo Producción:</label>
                                        <input id="TxtCostoProduccion_colta" name="TxtCostoProduccion_colta" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="TxtCostoOperacion_colta">Costo Operación:</label>
                                        <input id="TxtCostoOperacion_colta" name="TxtCostoOperacion_colta" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="TxtCostoTotal_colta">Costo Total:</label>
                                        <input id="TxtCostoTotal_colta" name="TxtCostoTotal_colta" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            @*Datos de Corridas por Pieza*@
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label class="font-weight-bold">Datos de Corridas por Pieza</label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="TxtCostoMP_coltaUnitario">Costo de Materia Prima:</label>
                                        <input id="TxtCostoMP_coltaUnitario" name="TxtCostoMP_coltaUnitario" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="TxtCostoMOD_coltaUnitario">Costo de Mano de Obra Directa:</label>
                                        <input id="TxtCostoMOD_coltaUnitario" name="TxtCostoMOD_coltaUnitario" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="TxtCostoPrimo_coltaUnitario">Costo Primo:</label>
                                        <input id="TxtCostoPrimo_coltaUnitario" name="TxtCostoPrimo_coltaUnitario" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="TxtCostoFabril_coltaUnitario">Costo Fabril:</label>
                                        <input id="TxtCostoFabril_coltaUnitario" name="TxtCostoFabril_coltaUnitario" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="TxtCostoProduccion_coltaUnitario">Costo Producción:</label>
                                        <input id="TxtCostoProduccion_coltaUnitario" name="TxtCostoProduccion_coltaUnitario" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="TxtCostoOperacion_coltaUnitario">Costo Operación:</label>
                                        <input id="TxtCostoOperacion_coltaUnitario" name="TxtCostoOperacion_coltaUnitario" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="TxtCostoUnitario_colta">Costo por pieza:</label>
                                        <input id="TxtCostoUnitario_colta" name="TxtCostoUnitario_colta" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*Datos de Utilidad*@
                        <div class="form-row">
                            <div class="col-md-12 col-lg-12"><label class="font-weight-bold">Datos de Utilidad</label></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12  col-lg-4">
                                <label for="TxtPorcUtilidadConsiderada_colta">% Utilidad Considerada:</label>
                                <input id="TxtPorcUtilidadConsiderada_colta" name="TxtPorcUtilidadConsiderada_colta" class="form-control" />
                            </div>
                            <div class="form-group col-md-12 col-lg-4">
                                <label for="TxtUtilidadDolares_colta">Utilidad:</label>
                                <input id="TxtUtilidadDolares_colta" name="TxtUtilidadDolares_colta" class="form-control" />
                            </div>
                        </div>
                        @*Datos de Precio*@
                        <div class="form-row">
                            <div class="col-md-12 col-lg-12"> <label class="font-weight-bold">Datos de Precio</label></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 col-lg-4">
                                <label for="TxtPrecioCliente_colta">Precio Cliente:</label>
                                <input id="TxtPrecioCliente_colta" name="TxtPrecioCliente_colta" class="form-control" />
                            </div>
                            <div class="form-group col-md-12  col-lg-4">
                                <label for="TxtPrecioTS_colta">Precio Techno Screen:</label>
                                <input id="TxtPrecioTS_colta" name="TxtPrecioTS_colta" class="form-control" />
                            </div>
                            <div class="form-group col-md-12  col-lg-4">
                                <label for="TxtPrecioVenta_colta">Precio Venta:</label>
                                <input id="TxtPrecioVenta_colta" name="TxtPrecioVenta_colta" class="form-control" />
                            </div>
                        </div>
                        @*@*Distribución de Costos*@
                        <div class="form-row">
                            <div class=" form-group col-md-12 col-lg-12"><label class="font-weight-bold">Distribución de Costos</label></div>
                        </div>
                        <div class="form-row">
                            <div class=" form-group col-md-12 col-lg-12">
                                <div id="chart"></div>
                            </div>

                        </div>
                    </div>
                    <div id="TabPConsu" class="form-group col-md-12 col-lg-12">
                        <div class="form-row">
                            <div class=" form-group col-lg-12"><div id="gridSimuConsumo_colta"></div></div>
                        </div>
                    </div>
                    <div id="TabPSimu" class="form-group col-md-12 col-lg-12">
                        <div class="form-row">
                            <div class=" form-group col-lg-12"><div id="gridRentabilidad_colta"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>





