<form id="FrmSolicitarAjuste" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="cmbCambioSolicitud">Tipo de cambio:</label>
            <input id="cmbCambioSolicitud" name="cmbCambioSolicitud" required validationMessage="Requerido" class="form-control" />
        </div>
        <div class="form-group col-lg-6 align-self-end">
            <div class="input-group">
                <div style="width: 100%;">
                    @*<button type="button" id="btnNuevoAjuste" name="btnNuevoAjuste">Nuevo Ajuste</button>*@
                    <button type="button" id="btnBorraAjustesSolicitud" name="btnBorraAjustesSolicitud">Borrar Ajuste</button>
                    <button type="button" id="btnAjustesSolicitud" name="btnAjustesSolicitud">Solicitar Ajuste</button>
                </div>
            </div>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="cmbReproceso">Reproceso:</label>
            <input id="cmbReproceso" name="cmbReproceso" required validationMessage="Requerido" class="form-control" />
        </div>
        <div class="form-group col-lg-6">
            <label for="cmbMotivoAjuste">Motivo de Ajuste:</label>
            <input id="cmbMotivoAjuste" name="cmbMotivoAjuste" required validationMessage="Requerido" class="form-control" />
        </div>
    </div>
    <div class="form-row"><br /></div>
    <div class="form-row">
        <div class="form-group col-lg-10">
            <label for="MultEstacion">Seleccione la estacion(es) para ajustar:</label>
            <input id="MultEstacion" name="MultEstacion" class="form-control" />
        </div>
        <div class="form-group col-lg-2 align-self-end">
            <input type="checkbox" id="chkAjuste_Todas" name="chkAjuste_Todas" class="k-checkbox">
            <label class="k-checkbox-label" for="chkTodasEsta_Ajuste" id="lblchkTodasEsta_Ajuste">Estaciones Todas</label>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-lg-12">
            <div id="grid_Ajustes" class="form-control"></div>
        </div>
    </div>

</form>


