
    <div class="form-row">
        <div class="form-group col-lg-7">
            <label for="gridCamEstadoMarco" tabindex="0"><span>Cambiar estado al marco:</span> </label>
            <div id="gridCamEstadoMarco"></div>
        </div>
        <div class="form-group col-lg-5">
            <label for="gridresumen" tabindex="0"><span>Resumen de marcos:</span> </label>
            <div id="gridresumen"></div>
        </div>
    </div>

<div class="form-row">
    <div id="maquinaTintasRev"></div>
</div>

<br/>
<br/>
<div id="MEstacionFormulas" data-url='@Url.Action("EstacionFormulas","Estaciones")'></div>




