<div class="form-row">
    <div class="form-group col-lg-12">
        <div class="form-row">
            <div class="form-group col-lg-3">
                <label for="CmbMaquinaTintas">Selección de Maquina:</label>
                <input id="CmbMaquinaTintas" name="CmbMaquinaTintas" required validationMessage="Requerido" type="text" class="form-control" />
            </div>
            <div class="form-group col-lg-3 col-md-4 align-self-lg-end" hidden="hidden"> <button type="button" id="btnBTTintas" data-role="button" class="k-button k-button-icontext" role="button" aria-disabled="false" tabindex="0"><span class="k-icon k-i-hyperlink-open-sm"></span>&nbsp;Limpiar Seteo</button></div>
           
        </div>
    </div>
</div>
<div class="form-row col-lg-12">
    <label for="gridresumen" tabindex="0"><span>Resumen de marcos:</span> </label>

    <div id="gridresumen" class="form-group col-lg-12">

    </div>

</div>
<div class="form-row" id="EtapaSeteo_9"> @*div utilizado para el dibuhjado de maquina por etapa*@</div>
<div id="MEstacionFormulas" data-url='@Url.Action("EstacionFormulas","Estaciones")'></div>




