
    <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="cmbTipoMarco">Tipo de Marco:</label>
            <input id="cmbTipoMarco" name="cmbTipoMarco" required validationMessage="Requerido" class="form-control" />
        </div>
        <div class="form-group col-md-6 col-lg-6 align-self-end">
            <input type="checkbox" id="chkTodasEsta" name="chkTodasEsta" class="k-checkbox">
            <label class="k-checkbox-label" for="chkTodasEsta" id="lblchkTodasEsta">Estaciones Todas</label>
        </div>
    </div>   
 <div class="form-row">
        <div class="form-group col-lg-8">
            <label for="gridCamEstadoMarco" tabindex="0"><span>Cambiar estado al marco:</span> </label>
            <div id="gridCamEstadoMarco"></div>
        </div>
        <div class="form-group col-lg-4">
            <label for="gridresumen" tabindex="0"><span>Resumen de marcos:</span> </label>
            <div id="gridresumen"></div>
        </div>
    </div>

    

<div class="form-row">
    <div id="maquinaTintasRev"></div>
</div>


<br/>
<br/>
<div id="MEstacionFormulas" data-url='@Url.Action("EstacionFormulas","Estaciones")'></div>




