
<div class="form-row col-lg-12">
    <label for="gridresumen" tabindex="0"><span>Resumen de marcos:</span> </label>

    <div id="gridresumen" class="form-group col-lg-12">

    </div>

</div>
<div class="form-row">
    <div id="maquinaTintasRev"></div>
</div>
<div id="MEstacionFormulas" data-url='@Url.Action("EstacionFormulas","Estaciones")'></div>




