<div class="form-row">
    <div class="form-group col-lg-12">
        <div class="form-row">
            <div class="form-group col-lg-12 align-self-lg-end">
                <button type="button" id="btnFinOTVerifMue">Finalizar OT</button>
                <button type="button" id="btnCPesosVerifMues">Detalle de pesos</button>
                <button type="button" id="btnAjuste_Valid" data-role="button" class="k-button k-button-icontext" role="button" aria-disabled="false" tabindex="0">
                    <span class="k-icon k-i-warning"></span>&nbsp;Ajustes
                </button>
            </div>
        </div>
        <div id="AlertaEstacionValidMues"></div>
    </div>
</div>
<div class="form-row">
    <div id="maquinaValidacionMues"></div>
</div>
<div id="MEstacionVerifMuestra" data-url='@Url.Action("EstacionVerifMuestra","Estaciones")'></div>
<div id="MEstacionAccesoriosVerifMuest" data-url='@Url.Action("EstacionAccesoriosVerifMuest","Estaciones")'></div>

<div class="form-row">
    <div id="MbtnFinVerifMue">
        <form id="FrmFinVerifMue" method="POST" enctype="multipart/form-data" autocomplete="off">
            <div class="form-row">
                <div class=" form-group col-lg-12">
                    <label for="dFechaFinVerifMue">Fecha Fin Muestra:</label>
                    <input id="dFechaFinVerifMue" name="dFechaFinVerifMue" class="form-control" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group cl-lg-12">
                    <button type="button" class=" k-primary" id="btnAcepFinVerifMue">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="MbtCVerifMue">
    <div class="form-row">
        <div class=" form-group col-lg-12">
            <div id="gridEstacionPesoVerifMue"></div>
        </div>
    </div>
</div>
