<div class="col-4">
    <div class="row mb-3">
        <div class="col-12">
            <label for="cmbFM" id="lblFM">Catálogo de Diseño:</label>
            <input id="cmbFM" name="cmbFM" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="form-group" id="divImagenDiseno">
                <img class="k-card-image rounded mx-auto d-block" src="/content/Images/NoImagen.png" />
            </div>
        </div>
    </div>
</div>

<div class="col-4">
    <div class="row mb-3">
        <div class="col-12">
            <label for="txtDiseño" id="lblDiseño">Diseño:</label>
            <input id="txtDiseño" name="txtDiseño" class="k-textbox form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <label for="txtEstilo" id="lblEstilo">Estilo:</label>
            <input id="txtEstilo" name="txtEstilo" class="k-textbox form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <label for="txtNumero" id="lblNumero">Número:</label>
            <input id="txtNumero" name="txtNumero" class="k-textbox form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <label for="txtParte" id="lblParte">Parte:</label>
            <input id="txtParte" name="txtParte" class="k-textbox form-control" />
        </div>
    </div>
</div>

<div class="col-4">
    <div class="row mb-3">
        <div class="col-12">
            <label for="txtProducto" id="lblProducto">Producto:</label>
            <input id="txtProducto" name="txtProducto" class="k-textbox form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <label for="txtComposicion" id="lblComposicion">Composición:</label>
            <input id="txtComposicion" name="txtComposicion" class="k-textbox form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <label for="txtColorTela" id="lblColorTela">Color de Tela:</label>
            <input id="txtColorTela" name="txtColorTela" class="k-textbox form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <label for="txtServicio" id="lblServicio">Servicio:</label>
            <input id="txtServicio" name="txtServicio" class="k-textbox form-control" />
        </div>
    </div>
</div>
