<div class="col-md-5">

    <div class="row">
        <div class="col-12">
            <div class="form-group mb-lg-2 mb-xl-3">
                <label for="txtCodigoFM" id="lblCodigoFM" class="mb-lg-1">Código (FM):</label>
                <input id="txtCodigoFM" name="txtCodigoFM" class="k-textbox form-control" />
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group mb-lg-2 mb-xl-3">
                <label for="txtDiseño" id="lblDiseño" class="mb-lg-1">Diseño:</label>
                <input id="txtDiseño" name="txtDiseño" class="k-textbox form-control" />
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group mb-lg-2 mb-xl-3">
                <label for="txtEstilo" id="lblEstilo" class="mb-lg-1">Estilo:</label>
                <input id="txtEstilo" name="txtEstilo" class="k-textbox form-control" />
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group mb-lg-2 mb-xl-3">
                <label for="txtNumero" id="lblNumero" class="mb-lg-1">Número:</label>
                <input id="txtNumero" name="txtNumero" class="k-textbox form-control" />
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group mb-lg-2 mb-xl-3">
                <label for="txtParte" id="lblParte" class="mb-lg-1">Parte:</label>
                <input id="txtParte" name="txtParte" class="k-textbox form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group mb-lg-2 mb-xl-3">
                <label for="txtNombrePrenda" id="lblNombrePrenda" class="mb-lg-1">Prenda :</label>
                <input id="txtNombrePrenda" name="txtNombrePrenda" class="k-textbox form-control" />
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group mb-lg-2 mb-xl-3">
                <label for="txtComposicion" id="lblComposicion" class="mb-lg-1">Composición:</label>
                <input id="txtComposicion" name="txtComposicion" class="k-textbox form-control" />
            </div>
        </div>
    </div>
</div>
<div class="col-md-7 text-center g-5">
    <div class="form-group" id="divImagenDiseno">
        <img class="k-card-image rounded mx-auto d-block" src="/content/Images/NoImagen.png" />
    </div>
</div>
