<div class="form-row">
    <div class="form-control col-lg-5">
        <!--carrousel de imagenes-->
        <div class="view rounded-right">
            <div id="CDisenos">
                <div style="margin:auto; width:100%">
                    <div id="scrollView" style="width: 1022px; height: 600px; max-width: 100%;">
                        @*Espacio para las imagenes*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-control col-lg-7 ">
        <!--Nombre del diseño-->
        @*<h5 class="font-weight-normal mb-3" id="infNomDiseg"></h5>*@
        <!--descripcion del dsieño-->
        @*<p class="text-muted" id="infDesDiseno"></p>*@
        <div class="form-row">
            <div class="form-control col-lg-6">
                <ul class="list-unstyled font-small mt-5">
                    <li>
                        <p class="text-uppercase mb-2"><strong>Cliente</strong></p>
                        <p class="text-muted mb-4" id="InfCliente"></p>
                    </li>
                    <li>
                        <p class="text-uppercase mb-2"><strong>Fecha</strong></p>
                        <p class="text-muted mb-4" id="InfFecha"></p>
                    </li>
                    <li>
                        <p class="text-uppercase mb-2"><strong>Tallas</strong></p>
                        <p class="text-muted mb-4" id="InfTallas"></p>
                    </li>
                </ul>
            </div>
            <div class="form-control col-lg-6">
                <ul class="list-unstyled font-small mt-5">
                    <li>
                        <p class="text-uppercase mb-2"><strong>Nombre Diseño OT</strong></p>
                        <p class="text-muted mb-4" id="InfNombreDisOT"></p>
                    </li>
                    <li>
                        <p class="text-uppercase mb-2"><strong>Estilo Diseño OT</strong></p>
                        <p class="text-muted mb-4" id="InfEstiloDisenoOT"></p>
                    </li>
                    <li>
                        <p class="text-uppercase mb-2"><strong>Numero Diseño OT</strong></p>
                        <p class="text-muted mb-4" id="InfNumeroDisenoOT"></p>
                    </li>
                </ul>
            </div>

        </div>
        <div class="form-row">
            <div id="gConOT"></div>
        </div>
        
    </div>
</div>

<div class="form-row">
    <div id="ModalGeneraOT">
        <form id="FrmGeneraOT" method="POST" enctype="multipart/form-data" autocomplete="off">
            <div class="form-row">
                <div class="form-group col-lg-12">
                    <label for="CmbMotivoDesarrollo">Motivo de Desarrollo</label>
                    <input id="CmbMotivoDesarrollo" name="CmbMotivoDesarrollo" required validationMessage="Requerido" type="text" class="form-control" />
                </div>
            </div>
        </form>
    </div>
</div>
