@{
    ViewBag.Title = "Catalogo de Diseños";
    ViewBag.IdVersion = "TMS0101085|v19041201";
}
@section Scripts {
    <script src="~/Scripts/js/CatalogoDisenos.js"></script>
}
<link href="~/Content/CatalogoDisenos.css" rel="stylesheet" />

<style>
       .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .k-card {
          margin: 1%;
            width: 300px;
        }
           .k-card-footer {
            text-align: center;
            border-width: 1px 0 0;
            border-color: inherit;
        }
           .k-card-body p {
    line-height:0.5
}
</style>
<!--Div para mostrar la ventana modal -->
<div id="ModalCDinf"></div>


@*<div class="col-lg-12">*@
        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="CmbCliente">Cliente</label>
                        <input id="CmbCliente" name="CmbCliente" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="CmbPrograma">Programa:</label>
                        <input id="CmbPrograma" name="CmbPrograma" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="CmbOrdenTrabajo">Orden de Trabajo:</label>
                        <input id="CmbOrdenTrabajo" name="CmbOrdenTrabajo" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    @*<div class="container my-5">
            <section>
                <div class="tab-pane fade show in active" id="panel31" role="tabpanel">
                    <div class="form-row" id="RowPn31"></div>
                </div>
            </section>
        </div>*@

                    <div class="container" id="RowPn31">
                      
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-12"><div id="pager"></div></div>
                </div>
            </div>
        </div>
    @*</div>*@

