
<div class="card">
    <div class="card-body">
        <form id="FrmGenEACC" method="POST" enctype="multipart/form-data" autocomplete="off">
            <div class="form-group col-lg-12">
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <label for="TxtOpcSelecAcce" id="OpcSelecAcce"></label>
                        <input id="TxtOpcSelecAcce" name="TxtOpcSelecAcce" type="text" class="k-textbox form-control" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button type="button" class=" k-primary" id="btnAddMEA">Guardar</button>
    </div>
</div>