<div class="form-row">
    <div class="form-group col-lg-12" style="width:600px;">
        <div class="card">
            <div class="card-body">
                <form id="FrmGenEACC" method="POST" enctype="multipart/form-data" autocomplete="off">
                    <div class="form-group col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <label for="TxtOpcSelecAcce_Dis" id="OpcSelecAcce_Dis"></label>
                                <input id="TxtOpcSelecAcce_Dis" name="TxtOpcSelecAcce_Dis" type="text" class="k-textbox form-control" />
                            </div>
                        </div>
                        <div class="form-row" id="row-1">
                            <div class="form-group col-lg-12">
                                <label for="CmbSetFoil">Foil</label>
                                <input id="CmbSetFoil" name="CmbSetFoil" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-row" id="row-2">
                            <div class="form-group col-lg-4">
                                <label for="NumAncho">Ancho</label>
                                <input id="NumAncho" name="NumAncho" type="text" class="form-control" required value="0" />
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="NumAlto">Alto</label>
                                <input id="NumAlto" name="NumAlto" type="text" class="form-control" required value="0" />
                            </div>
                        </div>
                        <div class="form-row" id="row-2">
                            <div class="form-group col-lg-4">
                                <label for="NumConsuAncho">Consumo Ancho</label>
                                <input id="NumConsuAncho" name="NumConsuAncho" type="text" class="form-control" required value="0" />
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="NumConsuAlto">Cosumo Alto</label>
                                <input id="NumConsuAlto" name="NumConsuAlto" type="text" class="form-control" required value="0" />
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="CmbConsUnidad">Unidad de Medidad</label>
                                <input id="CmbConsUnidad" name="CmbConsUnidad" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="form-row">
                    <button type="button" class=" k-primary" id="btnAddMEA_Dis">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>


