
<div class="form-row">
    <div class="form-group col-lg-12" style="width:600px;">
        <div class="card">
            <div class="card-body">
                <form id="FrmGenEACC_Mues" method="POST" enctype="multipart/form-data" autocomplete="off">
                    <div class="form-group col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <label for="TxtOpcSelecAcce_Mues" id="OpcSelecAcce_Mues"></label>
                                <input id="TxtOpcSelecAcce_Mues" name="TxtOpcSelecAcce_Mues" type="text" class="k-textbox form-control" />
                            </div>
                        </div>
                        <div class="form-row" id="row-1">
                            <div class="form-group col-lg-12">
                                <label for="CmbSetFoil_Mues">Foil</label>
                                <input id="CmbSetFoil_Mues" name="CmbSetFoil_Mues" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-row" id="row-2">
                            <div class="form-group col-lg-4">
                                <label for="NumConsuAncho_Mues">Consumo Ancho</label>
                                <input id="NumConsuAncho_Mues" name="NumConsuAncho_Mues" type="text" class="form-control" required value="0" />
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="NumConsuAlto_Mues">Cosumo Alto</label>
                                <input id="NumConsuAlto_Mues" name="NumConsuAlto_Mues" type="text" class="form-control" required value="0" />
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="CmbConsUnidad_Mues">Unidad de Medidad</label>
                                <input id="CmbConsUnidad_Mues" name="CmbConsUnidad_Mues" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="form-row">
                    <button type="button" class=" k-primary" id="btnAddMEA_Mues">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>


