
<div class="card">
    <div class="card-body">
        <form id="FrmGenEDiseno" method="POST" enctype="multipart/form-data" autocomplete="off">
            <div class="form-group col-lg-12">
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="TxtOpcSelec_Dis" id="OpcSelec_Dis"></label>
                        <input id="TxtOpcSelec_Dis" name="TxtOpcSelec_Dis" type="text" class="k-textbox form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="CmbQuimica_Dis">Química Utilizar</label>
                        <input id="CmbQuimica_Dis" name="CmbQuimica_Dis" required validationMessage="Requerido" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="CmbTipoTinta_Dis">Tipo de Tintas</label>
                        <input name="CmbTipoTinta_Dis" id="CmbTipoTinta_Dis" required validationMessage="Requerido" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="CmbSedas_Dis">Seda:</label>
                        <input id="CmbSedas_Dis" name="CmbSedas_Dis" required validationMessage="Requerido" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="CmbTipoEmulsion_Dis">Emulsiones</label>
                        <input id="CmbTipoEmulsion_Dis" name="CmbTipoEmulsion_Dis" required validationMessage="Requerido" type="text" class="form-control" />
                    </div> 
                    <div class="form-group col-lg-4">
                        <label for="NumCapilar_Dis">Capilar</label>
                        <input id="NumCapilar_Dis" name="NumCapilar_Dis" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="NumPasadas_Dis">Número de Pasadas</label>
                        <input id="NumPasadas_Dis" name="NumPasadas_Dis" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="CmbBasePigmento_Dis">Base Mezcla</label>
                        <input id="CmbBasePigmento_Dis" name="CmbBasePigmento_Dis" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="CmbSistemaPigmento_Dis">Sistema Pigmentos</label>
                        <input id="CmbSistemaPigmento_Dis" name="CmbSistemaPigmento_Dis" type="text" class="form-control" />
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="CmbTecnica_Dis">Técnica a Aplicar</label>
                        <input id="CmbTecnica_Dis" name="CmbTecnica_Dis" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="NumResolucionDPI_Dis">Resolución</label>
                        <input id="NumResolucionDPI_Dis" name="NumResolucionDPI_Dis" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="NumPixeles_Dis">Pixeles</label>
                        <input id="NumPixeles_Dis" name="NumPixeles_Dis" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="NumLineajeLPI_Dis">Lineaje</label>
                        <input id="NumLineajeLPI_Dis" name="NumLineajeLPI_Dis" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="NumArea_Dis">Área</label>
                        <input id="NumArea_Dis" name="NumArea_Dis" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="CmdIdUnidadArea_Dis">Unidad área</label>
                        <input id="CmdIdUnidadArea_Dis" name="CmdIdUnidadArea_Dis" required validationMessage="Requerido" type="text" class="form-control" />
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="TxtLetra">Letras</label>
                        <input id="TxtLetra" name="TxtLetra" type="text" class="k-textbox form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="TxtFormulaSug_Dis">Formulación Sugerida</label>
                        <input id="TxtFormulaSug_Dis" name="TxtFormulaSug_Dis" type="text" class="k-textbox form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <div class="form-row">
                            <div class="form-group col-lg-4">
                                <label for="NumMasaEntre_Dis">Masa entregada</label>
                                <input id="NumMasaEntre_Dis" name="NumMasaEntre_Dis" type="text" class="k-textbox form-control" />
                            </div>
                            <div class="form-group col-lg-4 align-self-lg-end">
                                <button type="button" id="btnccc_Dis"></button>
                                <button type="button" id="btnDelFT_Dis"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <input id="TxtIdform_Dis" name="TxtIdform" type="text" class="k-textbox form-control" , hidden="hidden" />
                        <div id="TablaFormulaDis" class="TablaFomula"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="form-row">
            <button type="button" class=" k-primary" id="btnAddMCE_Dis">Guardar</button>
        </div>
    </div>
</div>

