<div class="card">
     <div class="card-body">
         <form id="FrmGenEColor" method="POST" enctype="multipart/form-data" autocomplete="off">
             <div class="form-group col-lg-12">
                 <div class="form-row">
                     <div class="form-group col-lg-6">
                         <label for="TxtOpcSelec" id="OpcSelec"></label>
                         <input id="TxtOpcSelec" name="TxtOpcSelec" type="text" class="k-textbox form-control" />
                     </div>
                     <div class="form-group col-lg-6">
                         <label for="TxtNombreQui">Quimica Utilizar</label>
                         <input id="TxtNombreQui" name="TxtNombreQui" type="text" class="k-textbox form-control" />
                     </div>
                 </div>
                 <div class="form-row">
                     <div class="form-group col-lg-6">
                         <label for="CmbTipoTinta_color">Tipo de Tintas</label>
                         <input name="CmbTipoTinta_color" id="CmbTipoTinta_color" required validationMessage="Requerido" type="text" class="form-control">
                     </div>
                     <div class="form-group col-lg-6">
                         <label for="CmbSistema_color">Sistema Tintas</label>
                         <input name="CmbSistema_color" id="CmbSistema_color" required validationMessage="Requerido" type="text" class="form-control">
                     </div>
                 </div>
                 <div class="form-row">
                     <div class="form-group col-lg-6">
                         <label for="CmbSedas_color">Seda:</label>
                         <input id="CmbSedas_color" name="CmbSedas_color" required validationMessage="Requerido" type="text" class="form-control" />
                     </div>
                     <div class="form-group col-lg-6">
                         <label for="CmbTipoEmulsion_color">Emulsiones:</label>
                         <input id="CmbTipoEmulsion_color" name="CmbTipoEmulsion_color" required validationMessage="Requerido" type="text" class="form-control" />
                     </div>
                 </div>
                 <div class="form-row">
                     <div class="form-group col-lg-3">
                         <label for="NumCapilar">Capilar:</label>
                         <input id="NumCapilar" name="NumCapilar" type="text" class="form-control" />
                     </div>
                     <div class="form-group col-lg-3">
                         <label for="NumPasadas">Numero de Pasadas:</label>
                         <input id="NumPasadas" name="NumPasadas" type="text" class="form-control" />
                     </div>
                 </div>
                 <div class="form-row">
                     <label for="TxtFormulaSug">Formulacion Sugerida </label>
                     <input id="TxtFormulaSug" name="TxtFormulaSug" type="text" class="k-textbox form-control" />
                 </div>
             </div>
         </form>
     </div>
     <div class="card-footer">
         <button type="button" class=" k-primary" id="btnAddMCE">Guardar</button>
     </div>
 </div>