
<div class="card">
    <div class="card-body">
        <form id="FrmGenEDiseno" method="POST" enctype="multipart/form-data" autocomplete="off">
            <div class="form-group col-lg-12">
                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <label for="TxtOpcSelec_Dis" id="OpcSelec_Dis"></label>
                        <input id="TxtOpcSelec_Dis" name="TxtOpcSelec_Dis" type="text" class="k-textbox form-control" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="TxtNombreQui_Dis">Quimica Utilizar</label>
                        <input id="TxtNombreQui_Dis" name="TxtNombreQui_Dis" type="text" class="k-textbox form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="CmbTipoTinta_Dis">Tipo de Tintas</label>
                        <input name="CmbTipoTinta_Dis" id="CmbTipoTinta_Dis" required validationMessage="Requerido" type="text" class="form-control">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="CmbSistema_Dis">Sistema Tintas</label>
                        <input name="CmbSistema_Dis" id="CmbSistema_Dis" required validationMessage="Requerido" type="text" class="form-control">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="CmbSedas_Dis">Seda:</label>
                        <input id="CmbSedas_Dis" name="CmbSedas_Dis" required validationMessage="Requerido" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="CmbTipoEmulsion_Dis">Emulsiones:</label>
                        <input id="CmbTipoEmulsion_Dis" name="CmbTipoEmulsion_Dis" required validationMessage="Requerido" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="NumCapilar_Dis">Capilar:</label>
                        <input id="NumCapilar_Dis" name="NumCapilar_Dis" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="NumPasadas_Dis">Numero de Pasadas:</label>
                        <input id="NumPasadas_Dis" name="NumPasadas_Dis" type="text" class="form-control" />
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="CmbTecnica_Dis">Tecnica a Aplicar:</label>
                        <input id="CmbTecnica_Dis" name="CmbTecnica_Dis" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="NumArea_Dis">Area:</label>
                        <input id="NumArea_Dis" name="NumArea_Dis" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="CmdIdUnidadArea_Dis">Unidad Area:</label>
                        <input id="CmdIdUnidadArea_Dis" name="CmdIdUnidadArea_Dis" required validationMessage="Requerido" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-3">
                        <label for="TxtLetra">Letras</label>
                        <input id="TxtLetra" name="TxtLetra" type="text" class="k-textbox form-control" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="CmbBaseMezcla_Dis">Base Mezcla</label>
                        <input id="CmbBaseMezcla_Dis" name="CmbBaseMezcla_Dis" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-3">
                        <div class="form-row">
                            <div class="form-group col-lg-4">
                                <label for="NumMasaEntre_Dis">Masa entregada</label>
                                <input id="NumMasaEntre_Dis" name="NumMasaEntre_Dis" type="text" class="k-textbox form-control" />
                            </div>
                            <div class="form-group col-lg-4 align-self-lg-end">
                                <button type="button" id="btnccc_Dis"></button>
                                <button type="button" id="btnDelFT_Dis"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label for="CmbPigmento_Dis">Pigmentos</label>
                                <input id="CmbPigmento_Dis" name="CmbPigmento_Dis" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="TxtFormulaSug_Dis">Formulación Sugerida</label>
                                <input id="TxtFormulaSug_Dis" name="TxtFormulaSug_Dis" type="text" class="k-textbox form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <input id="TxtIdform_Dis" name="TxtIdform" type="text" class="k-textbox form-control" , hidden="hidden" />
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    @*<th scope="col">#</th>*@
                                    <th scope="col">Articulo</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Masa Final</th>
                                    <th scope="col">% Final</th>
                                </tr>
                            </thead>
                            <tbody id="TablaPorc_Dis">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="form-row">
            <button type="button" class=" k-primary" id="btnAddMCE_Dis">Guardar</button>
        </div>
    </div>
</div>
