
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="MTecnicasEstacionLabel"></h3>
            <button type="button" class="close" data-dismiss="modal" id="btnClosMEA_Dis" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <form id="FrmGenEACC" method="POST" enctype="multipart/form-data" autocomplete="off">
                <div class="form-group col-lg-12">
                    <div class="form-row">
                        <div class="form-group col-lg-12">
                            <label for="TxtOpcSelecAcce_Dis" id="OpcSelecAcce_Dis"></label>
                            <input id="TxtOpcSelecAcce_Dis" name="TxtOpcSelecAcce_Dis" type="text" class="k-textbox form-control" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer ">
            <button type="button" class=" k-primary" id="btnAddMEA_Dis">Guardar</button>
        </div>
    </div>
</div>



