
<form id="FrmCopiarReq" method="POST" enctype="multipart/form-data" autocomplete="off">
    <div class="modal fade" id="CopiarRegistro" role="document">
        <div class="modal-dialog ">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Copiar Requerimiento de Desarrollo</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" role="document">
                    <div class="form-group col-lg-12">
                        <label for="TxtNoVeces" style="font-size: 1.2em;">No de Copias:</label>
                    </div>
                    <div class="form-group col-lg-12">
                        <input id="TxtNoVeces" name="TxtNoVeces" class="form-control" required />
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-default" id="btnAceptar">Aceptar</button>
                    <button type="button"  class="btn btn-default" data-dismiss="modal" id="btnCerrar">Cerrar</button>
                </div>
            </div>

        </div>
    </div>

</form>
