<div class="form-row">
    <div class="form-row">
        <label class="font-weight-bold">Costos por Partes</label>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <div id="dbgPartesSub"></div>
        </div>
    </div>
</div>
