    <div class="row">
        <div class="form-group col-lg-12">
            <div class="input-group">
                <div style="width: 100%;">
                    <button type="button" id="btnRecalcular" name="btnRecalcular">&nbsp;Recalcular</button>
                    <button type="button" id="btnSimulacion" name="btnSimulacion" data-toggle="modal" data-target="#NuevaSimulacion">&nbsp;Nueva Simulación</button>
                    <button type="button" id="btnCambioEstado" name="btnCambioEstado">&nbsp;Cambio de Estado</button>
                </div>
            </div>
        </div>
    </div>
    <form id="FrmNuevoSim" method="POST" enctype="multipart/form-data" autocomplete="off">
        <div class="modal fade" id="NuevaSimulacion" role="document">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Generar nueva simulación</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" role="document">
                        <div class="form-group col-lg-12">
                            <label for="TxtNuevaCantidadPiezas" style="font-size: 1.2em;">Cantidad de Piezas:</label>
                            <input id="TxtNuevaCantidadPiezas" name="TxtNuevaCantidadPiezas" class="form-control" required />
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="TxtNoMontaje" style="font-size: 1.2em;">Montajes:</label>
                            <input id="TxtNoMontaje" name="TxtNoMontaje" class="form-control" required />
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="txtPersonalExtra" style="font-size: 1.2em;">Personal Extra:</label>
                            <input id="txtPersonalExtra" name="txtPersonalExtra" class="form-control" required />
                        </div>
                    </div>
                    <div class="modal-footer ">
                        <button type="button"   class="btn btn-default" id="btnAceptar">Aceptar</button>
                        <button type="button"  class="btn btn-default" data-dismiss="modal" id="btnCerrar">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>