<div class="form-row">
    <div class="form-group col-lg-9"></div>
    <div class="form-group col-lg-3">
        <input id="chkUsarTermo" type="checkbox" name="chkUsarTermo" class="k-checkbox" disabled />
        <label class="k-checkbox-label" for="chkUsarTermo">Utilizar Termofijado</label>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-lg-3">
        <label for="TxtNoDocumento">No Simulación:</label>
        <input id="TxtNoDocumento" name="TxtNoDocumento" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
    </div>
    <div class="form-group col-lg-3">
        <label for="TxtFecha">Fecha:</label>
        <input id="TxtFecha" name="TxtFecha" class="form-control" />
    </div>
    <div class="form-group col-lg-3">
        <label for="TxtEstado">Estado:</label>
        <input id="TxtEstado" name="TxtEstado" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
    </div>
    <div class="form-group col-lg-3">
        <label for="TxtCantidadPiezas">Cantidad de Piezas:</label>
        <input id="TxtCantidadPiezas" name="TxtCantidadPiezas" class="form-control" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-lg-3">
        <label for="TxtOperTela">Operación de Tela:</label>
        <input id="TxtOperTela" name="TxtOperTela" class="k-input k-textbox form-control" style="width:100%" />
    </div>
    <div class="form-group col-lg-3">
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label for="NumAnchoimp">Ancho de Impresion</label>
                <input id="NumAnchoimp" name="NumAnchoimp" class="form-control" />
            </div>
            <div class="form-group col-lg-6">
                <label for="TxtUniAnchoimp">Unidad de Ancho</label>
                <input id="TxtUniAnchoimp" name="TxtUniAnchoimp" class="k-input k-textbox form-control" style="width:100%" />
            </div>
        </div>
    </div>
    <div class="form-group col-lg-3">
        <label for="TxtVelocidadTransferencia">Velocidad de Transferecnia</label>
        <input id="TxtVelocidadTransferencia" name="TxtVelocidadTransferencia" class="k-input k-textbox form-control"  style="width:100%" />
    </div>
    <div class="form-group col-lg-3">
        <label for="NumPeronalTransferencia">Personal de Transferencia:</label>
        <input id="NumPeronalTransferencia" name="NumPeronalTransferencia" class="form-control" />
    </div>
   
</div>
<div class="form-row">
    <div class="form-group col-lg-3">
        <label for="TxtPerfilImpresion">Perfil de impresion:</label>
        <input id="TxtPerfilImpresion" name="TxtPerfilImpresion" class="k-input k-textbox form-control" style="width:100%" />
    </div>
    <div class="form-group col-lg-3">
        <label for="NumPeronalImpresion">Personal de Impresion:</label>
        <input id="NumPeronalImpresion" name="NumPeronalImpresion" class="form-control" />
    </div>
    <div class="form-group col-lg-3">
        <label for="NumYardaTransHora">Yardas Transferencia por hora:</label>
        <input id="NumYardaTransHora" name="NumYardaTransHora" class="form-control" />
    </div>
    <div class="form-group col-lg-3">
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label for="NumConsumoTintas">Consumo de Tintas:</label>
                <input id="NumConsumoTintas" name="NumConsumoTintas" class="form-control" />
            </div>
            <div class="form-group col-lg-6">
                <label for="TxtConsumoTinta">Unidad de Consumo</label>
                <input id="TxtConsumoTinta" name="TxtConsumoTinta" class="k-input k-textbox form-control" style="width:100%" />
            </div>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-lg-3">
        <label for="NumYardaImpHora">Yardas Impresion Por Hora:</label>
        <input id="NumYardaImpHora" name="NumYardaImpHora" class="form-control" />
    </div>
    <div class="form-group col-lg-3">
        <label for="TxtPapelSelecionado">Papel Selecionado:</label>
        <input id="TxtPapelSelecionado" name="TxtPapelSelecionado" class="k-input k-textbox form-control" style="width:100%" />
    </div>
</div>
<div class="form-row">

</div>

<div class="form-row">
    <div class="form-group col-lg-6">
        <label class="font-weight-bold">Datos de Costo de Impresion</label>
    </div>
    <div class="form-group col-lg-6">
        <label class="font-weight-bold">Datos de Costo de Transferencia</label>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-lg-2">
        <label for="NumCostoPapelImp">Costo de Papel de Impresión:</label>
        <input id="NumCostoPapelImp" name="NumCostoPapelImp" class="form-control" />
    </div>
    <div class="form-group col-lg-2">
        <label for="NumCostoTinta">Costo de Tinta:</label>
        <input id="NumCostoTinta" name="NumCostoTinta" class="form-control" />
    </div>
    <div class="form-group col-lg-2">
        <label for="TxtCostoTotalRes">Costo Total:</label>
        <input id="TxtCostoTotalRes" name="TxtCostoTotalRes" class="form-control" />
    </div>
    <div class="form-group col-lg-2">
        <label for="NumCostoPapelProtec">Costo de Papel de Protección:</label>
        <input id="NumCostoPapelProtec" name="NumCostoPapelProtec" class="form-control" />
    </div>
    <div class="form-group col-lg-2">
        <label for="NumCostoAdicionales">Costo de Adicionales</label>
        <input id="NumCostoAdicionales" name="NumCostoAdicionales" class="form-control" />
    </div>
    <div class="form-group col-lg-2">
        <label for="NumCostoTotalTransRes">Costo Total:</label>
        <input id="NumCostoTotalTransRes" name="NumCostoTotalTransRes" class="form-control" />
    </div>
</div>


@*Datos de Costos por Corrida*@
<div class="form-row">
    <div class="col-md-6">
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoMOD">Costo de Mano de Obra Directa - Impresion:</label>
                <input id="TxtCostoMOD" name="TxtCostoMOD" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoFabril">Costo Fabril - Impresion:</label>
                <input id="TxtCostoFabril" name="TxtCostoFabril" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoProduccion">Costo Producción - Impresion:</label>
                <input id="TxtCostoProduccion" name="TxtCostoProduccion" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoOperacion">Costo Operación - Impresion:</label>
                <input id="TxtCostoOperacion" name="TxtCostoOperacion" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoTotal">Costo Total - Impresion:</label>
                <input id="TxtCostoTotal" name="TxtCostoTotal" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoTotalMasTrans">Costo Total - Impresion + Transferencia:</label>
                <input id="TxtCostoTotalMasTrans" name="TxtCostoTotalMasTrans" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label for="TxtComentariosTecnicos">Comentarios Tecnicos:</label>
                <textarea id="TxtComentariosTecnicos" name="TxtComentariosTecnicos"  rows="4" class="form-control"></textarea>
            </div>
        </div>

    </div>
    @*Datos de Corridas por Pieza*@
<div class="col-md-6">
    <div class="form-row">
        <div class="form-group col">
            <label for="TxtCostoMODTrans">Costo de Mano de Obra Directa - Transferencia:</label>
            <input id="TxtCostoMODTrans" name="TxtCostoMODTrans" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="TxtCostoFabrilTrans">Costo Fabril - Transferencia:</label>
            <input id="TxtCostoFabrilTrans" name="TxtCostoFabrilTrans" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="TxtCostoProduccionTrans">Costo Producción - Transferencia:</label>
            <input id="TxtCostoProduccionTrans" name="TxtCostoProduccionTrans" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="TxtCostoOperacionTrans">Costo Operación - Transferencia:</label>
            <input id="TxtCostoOperacionTrans" name="TxtCostoOperacionTrans" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="TxtCostoTotalTrans">Costo Total - Transferencia:</label>
            <input id="TxtCostoTotalTrans" name="TxtCostoTotalTrans" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <div id="dbgPartesSub"></div>
        </div>
    </div>
</div>
</div>
@*Datos de Utilidad*@
<div class="form-row">
    <div class="col-md-12 col-lg-12"><label class="font-weight-bold">Datos de Utilidad</label></div>
</div>
<div class="form-row">
    <div class="form-group col-lg-4">
        <label for="TxtPorcUtilidadConsiderada">% Utilidad Considerada:</label>
        <input id="TxtPorcUtilidadConsiderada" name="TxtPorcUtilidadConsiderada" class="form-control" />
    </div>
    <div class="form-group col-lg-4">
        <label for="TxtUtilidadDolares">Utilidad:</label>
        <input id="TxtUtilidadDolares" name="TxtUtilidadDolares" class="form-control" />
    </div>
</div>
@*Datos de Precio*@
<div class="form-row">
    <div class="col-md-12 col-lg-12"> <label class="font-weight-bold">Datos de Precio</label></div>
</div>
<div class="form-row">
    <div class="form-group col-lg-4">
        <label for="TxtPrecioCliente">Precio Cliente:</label>
        <input id="TxtPrecioCliente" name="TxtPrecioCliente" class="form-control" />
    </div>
    <div class="form-group col-lg-4">
        <label for="TxtPrecioTS">Precio Techno Screen:</label>
        <input id="TxtPrecioTS" name="TxtPrecioTS" class="form-control" />
    </div>
    <div class="form-group col-lg-4">
        <label for="TxtPrecioVenta">Precio Venta:</label>
        <input id="TxtPrecioVenta" name="TxtPrecioVenta" class="form-control" />
    </div>
</div>

