<div class="form-row">
    <div class="form-group col-lg-9"></div>
    <div class="form-group col-lg-3">
        <input id="chkUsarTermo" type="checkbox" name="chkUsarTermo" class="k-checkbox" disabled />
        <label class="k-checkbox-label" for="chkUsarTermo">Utilizar Termofijado</label>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-lg-3">
        <label for="TxtNoDocumento">No Simulación:</label>
        <input id="TxtNoDocumento" name="TxtNoDocumento" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
    </div>
    <div class="form-group col-lg-3">
        <label for="TxtFecha">Fecha:</label>
        <input id="TxtFecha" name="TxtFecha" class="form-control" />
    </div>
    <div class="form-group col-lg-3">
        <label for="TxtEstado">Estado:</label>
        <input id="TxtEstado" name="TxtEstado" class="k-input k-textbox form-control" , disabled="disabled" style="width:100%" />
    </div>
    <div class="form-group col-lg-3">
        <label for="TxtCantidadPiezas">Cantidad de Piezas:</label>
        <input id="TxtCantidadPiezas" name="TxtCantidadPiezas" class="form-control" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-lg-3">
        <label for="TxtCantidadTecnicas">Cantidad Tenicas:</label>
        <input id="TxtCantidadTecnicas" name="TxtCantidadTecnicas" class="form-control" />
    </div>
    <div class="form-group col-lg-3">
        <label for="TxtMontajes">Montajes:</label>
        <input id="TxtMontajes" name="TxtMontajes" class="form-control" />
    </div>
    <div class="form-group col-lg-3">
        <label for="txtNoPersonalExtra">Personal Extra:</label>
        <input id="txtNoPersonalExtra" name="txtNoPersonalExtra" class="form-control" />
    </div>
    <div class="form-group col-lg-3">
        <label for="txtTiempoProyecto">Horas de Proyecto:</label>
        <input id="txtTiempoProyecto" name="txtTiempoProyecto" class="form-control" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-lg-3">
        <label for="txtCantidadColores">Cantidad Colores:</label>
        <input id="txtCantidadColores" name="txtCantidadColores" class="form-control" />
    </div>
    <div class="form-group col-lg-3">
        <label for="txtCantidadCombos">Combos:</label>
        <input id="txtCantidadCombos" name="txtCantidadCombos" class="form-control" />
    </div>
    <div class="form-group col-lg-3">
        <label for="txtCantidadTallas">Cantidad Tallas:</label>
        <input id="txtCantidadTallas" name="txtCantidadTallas" class="form-control" />
    </div>
    <div class="form-group col-lg-3">
        <label for="txtVelocidadMaquina">Velocidad Maquina:</label>
        <input id="txtVelocidadMaquina" name="txtVelocidadMaquina" class="form-control" />
    </div>
</div>
@*Datos de Costos por Corrida*@
<div class="form-row">
    <div class="col-md-6">
        <div class="form-row">
            <div class="form-group col">
                <label class="font-weight-bold">Datos de Costos por Corrida</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoMP">Costo de Materia Prima Total:</label>
                <input id="TxtCostoMP" name="TxtCostoMP" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoMOD">Costo de Mano de Obra Directa:</label>
                <input id="TxtCostoMOD" name="TxtCostoMOD" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoPrimo">Costo Primo:</label>
                <input id="TxtCostoPrimo" name="TxtCostoPrimo" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoFabril">Costo Fabril Total:</label>
                <input id="TxtCostoFabril" name="TxtCostoFabril" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoProduccion">Costo Producción:</label>
                <input id="TxtCostoProduccion" name="TxtCostoProduccion" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoOperacion">Costo Operación:</label>
                <input id="TxtCostoOperacion" name="TxtCostoOperacion" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="txtCostoTermofijado">Costo Termofijado:</label>
                <input id="txtCostoTermofijado" name="txtCostoTermofijado" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoTotal">Costo Total:</label>
                <input id="TxtCostoTotal" name="TxtCostoTotal" class="form-control" />
            </div>
        </div>
    </div>
    @*Datos de Corridas por Pieza*@
    <div class="col-md-6">
        <div class="form-row">
            <div class="form-group col">
                <label class="font-weight-bold">Datos de Corridas por Pieza</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoMPUnitario">Costo de Materia Prima:</label>
                <input id="TxtCostoMPUnitario" name="TxtCostoMPUnitario" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoMODUnitario">Costo de Mano de Obra Directa:</label>
                <input id="TxtCostoMODUnitario" name="TxtCostoMODUnitario" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoPrimoUnitario">Costo Primo:</label>
                <input id="TxtCostoPrimoUnitario" name="TxtCostoPrimoUnitario" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoFabrilUnitario">Costo Fabril:</label>
                <input id="TxtCostoFabrilUnitario" name="TxtCostoFabrilUnitario" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoProduccionUnitario">Costo Producción:</label>
                <input id="TxtCostoProduccionUnitario" name="TxtCostoProduccionUnitario" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoOperacionUnitario">Costo Operación:</label>
                <input id="TxtCostoOperacionUnitario" name="TxtCostoOperacionUnitario" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="txtCostoTermofijadoUnitario">Costo Unitario Termofijado:</label>
                <input id="txtCostoTermofijadoUnitario" name="txtCostoTermofijadoUnitario" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="TxtCostoUnitario">Costo por pieza:</label>
                <input id="TxtCostoUnitario" name="TxtCostoUnitario" class="form-control" />
            </div>
        </div>
    </div>
</div>
@*Datos de Utilidad*@
<div class="form-row">
    <div class="col-md-12 col-lg-12"><label class="font-weight-bold">Datos de Utilidad</label></div>
</div>
<div class="form-row">
    <div class="form-group col-lg-4">
        <label for="TxtPorcUtilidadConsiderada">% Utilidad Considerada:</label>
        <input id="TxtPorcUtilidadConsiderada" name="TxtPorcUtilidadConsiderada" class="form-control" />
    </div>
    <div class="form-group col-lg-4">
        <label for="TxtUtilidadDolares">Utilidad:</label>
        <input id="TxtUtilidadDolares" name="TxtUtilidadDolares" class="form-control" />
    </div>
</div>
@*Datos de Precio*@
<div class="form-row">
    <div class="col-md-12 col-lg-12"> <label class="font-weight-bold">Datos de Precio</label></div>
</div>
<div class="form-row">
    <div class="form-group col-lg-4">
        <label for="TxtPrecioCliente">Precio Cliente:</label>
        <input id="TxtPrecioCliente" name="TxtPrecioCliente" class="form-control" />
    </div>
    <div class="form-group col-lg-4">
        <label for="TxtPrecioTS">Precio Techno Screen:</label>
        <input id="TxtPrecioTS" name="TxtPrecioTS" class="form-control" />
    </div>
    <div class="form-group col-lg-4">
        <label for="TxtPrecioVenta">Precio Venta:</label>
        <input id="TxtPrecioVenta" name="TxtPrecioVenta" class="form-control" />
    </div>
</div>
