
<form id="FrmMenuPermiso" method="POST" enctype="multipart/form-data" autocomplete="off">
    <div class="modal fade" id="MenuPermiso" role="dialog">
        <div class="modal-dialog ">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Configurarción de permisos</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" role="document">
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12">
                            <input type="checkbox" id="chkAgregar" name="chkAgregar" class="k-checkbox">
                            <label class="k-checkbox-label" for="chkAgregar" style="font-size: 1.2em;">Permite Agregar</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12">
                            <input type="checkbox" id="chkEditar" name="chkEditar" class="k-checkbox">
                            <label class="k-checkbox-label" for="chkEditar" style="font-size: 1.2em;">Permite Editar</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12">
                            <input type="checkbox" id="chkBorrar" name="chkBorrar" class="k-checkbox">
                            <label class="k-checkbox-label" for="chkBorrar" style="font-size: 1.2em;">Permite Borrar</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12">
                            <input type="checkbox" id="chkProcesar" name="chkProcesar" class="k-checkbox">
                            <label class="k-checkbox-label" for="chkProcesar" style="font-size: 1.2em;">Permite Procesar</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12">
                            <input type="checkbox" id="chkConfidencial" name="chkConfidencial" class="k-checkbox">
                            <label class="k-checkbox-label" for="chkConfidencial" style="font-size: 1.2em;">Datos Confidenciales</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12">
                            <input type="checkbox" id="chkCambiarEstados" name="chkCambiarEstados" class="k-checkbox">
                            <label class="k-checkbox-label" for="chkCambiarEstados" style="font-size: 1.2em;">Permite Cambio de Estados</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="submit" value="sumit" class="btn btn-default" id="btnAceptar">Aceptar</button>
                    <button type="submit" value="sumit" class="btn btn-default" data-dismiss="modal" id="btnCerrar">Cerrar</button>
                </div>
            </div>

        </div>
    </div>

</form>



