
@{
    ViewBag.Title = "Códigos de Incoterm";
    ViewBag.IdVersion = "TSM0101148|v2210041";
}

@section Scripts {
    <script src="~/Scripts/js/Incoterms.js?@ViewBag.IdVersion"></script>
}

<div class="form-row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div id="gridIncoterms"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div id="gridIncotermsDetalles"></div>
                </div>
            </div>
        </div>
    </div>
</div>

