@{
    ViewBag.Title = "Orientación de Positivos";
    ViewBag.IdVersion = "TSM0101066|v19070201";
}
@section Scripts {
    <script type="text/javascript">
        var UrlOp = "@string.Format("{0}OrientacionPositivos", TSM.Utils.Config.TSM_WebApi)";
    </script>
    <script src="~/Scripts/js/OrientacionPositivos.js"></script>
}
<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

