@font-face {
    font-family: 'TSM-SeteoMaquinas';
    src: url('../Fonts/TSM-SeteoMaquinas.woff?9ucto2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="tsm-icon-"], [class*=" tsm-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'TSM-SeteoMaquinas' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tsm-icon-EMBOSING:before {
    content: "\e900";
}

.tsm-icon-DTG:before {
    content: "\e901";
}

.tsm-icon-HEATRANFER:before {
    content: "\e902";
}

.tsm-icon-SEQUINS:before {
    content: "\e903";
}

.tsm-icon-DIGITAL-HIBRIG:before {
    content: "\e904";
}

.tsm-icon-SUBLIMACION:before {
    content: "\e905";
}

.tsm-icon-SERIGRAFIA:before {
    content: "\e906";
}

.tsm-icon-ELASTANO:before {
    content: "\e907";
}

.tsm-icon-SEDA:before {
    content: "\e908";
}

.tsm-icon-LANA:before {
    content: "\e909";
}

.tsm-icon-NAYLON:before {
    content: "\e90a";
}

.tsm-icon-P-CATONICO:before {
    content: "\e90b";
}

.tsm-icon-POLIESTER:before {
    content: "\e90c";
}

.tsm-icon-P-RECICLADO:before {
    content: "\e90d";
}

.tsm-icon-ALGODON:before {
    content: "\e90e";
}

.tsm-icon-M-RHINESTONES:before {
    content: "\e90f";
}

.tsm-icon-M-SEQUINS:before {
    content: "\e910";
}

.tsm-icon-M24:before {
    content: "\e911";
}

.tsm-icon-M20:before {
    content: "\e912";
}

.tsm-icon-M16:before {
    content: "\e913";
}

.tsm-icon-M12:before {
    content: "\e914";
}

.tsm-icon-M10:before {
    content: "\e915";
}

.tsm-icon-TERMOFIJADO:before {
    content: "\e916";
}

.tsm-icon-GUILLOTINA:before {
    content: "\e917";
}

.tsm-icon-SAKURAI:before {
    content: "\e918";
}

.tsm-icon-IMPRESORA:before {
    content: "\e919";
}

.tsm-icon-CALANDRA:before {
    content: "\e91a";
}

.tsm-icon-CABEZAL:before {
    content: "\e91b";
}

.tsm-icon-PLANCHAE:before {
    content: "\e91c";
}

.tsm-icon-APLASTADOR:before {
    content: "\e91d";
}

.tsm-icon-FLASH:before {
    content: "\e91e";
}

.tsm-icon-ENFRIADOR:before {
    content: "\e91f";
}

.tsm-icon-SUCCION:before {
    content: "\e920";
}

.tsm-icon-A-TERMICO:before {
    content: "\e921";
}

.tsm-icon-AIRE:before {
    content: "\e922";
}

.tsm-icon-QUITAR-FOIL:before {
    content: "\e923";
}

.tsm-icon-PRESION-FOIL:before {
    content: "\e924";
}

.tsm-icon-COLOCAR-FOIL:before {
    content: "\e925";
}

.tsm-icon-2-PROCESO:before {
    content: "\e926";
}

.tsm-icon-CABEZAL-PRINT:before {
    content: "\e927";
}

.tsm-icon-HORNO:before {
    content: "\e928";
}

.tsm-icon-DESCARGAR:before {
    content: "\e929";
}

.tsm-icon-CARGAR:before {
    content: "\e92a";
}

.tsm-icon-TECNICA:before {
    content: "\e92b";
}

.tsm-icon-BASE:before {
    content: "\e92c";
}

.tsm-icon-COLOR:before {
    content: "\e92d";
}

.tsm-icon-PVC:before {
    content: "\e92e";
}

.tsm-icon-WB:before {
    content: "\e92f";
}

.tsm-icon-S-INK:before {
    content: "\e930";
}

.tsm-icon-HSA:before {
    content: "\e931";
}

.tsm-icon-LCI:before {
    content: "\e932";
}

.tsm-icon-SHP:before {
    content: "\e933";
}

.tsm-icon-PTF:before {
    content: "\e934";
}

.tsm-icon-BASE-GLITTER:before {
    content: "\e935";
}

.tsm-icon-FOIL:before {
    content: "\e936";
}

.tsm-icon-BRITTLE:before {
    content: "\e937";
}

.tsm-icon-HD:before {
    content: "\e938";
}

.tsm-icon-SUGGAR:before {
    content: "\e939";
}

.tsm-icon-GEL:before {
    content: "\e93a";
}

.tsm-icon-SUEDE:before {
    content: "\e93b";
}

.tsm-icon-REFLECTIVO:before {
    content: "\e93c";
}

.tsm-icon-PUFF:before {
    content: "\e93d";
}

.tsm-icon-GLITTER:before {
    content: "\e93e";
}

.tsm-icon-TEC-NUEVA:before {
    content: "\e93f";
}

.tsm-icon-METALICO:before {
    content: "\e940";
}

.tsm-icon-SIMMER:before {
    content: "\e941";
}

.tsm-icon-FLOCK-NY:before {
    content: "\e942";
}

.tsm-icon-FLOCK-RA:before {
    content: "\e943";
}

.tsm-icon-GLOW:before {
    content: "\e944";
}

.tsm-icon-CAVIAR:before {
    content: "\e945";
}

.tsm-icon-PLANTILLA:before {
    content: "\e946";
}

.tsm-icon-GLOSSY:before {
    content: "\e947";
}

.tsm-icon-CRISTALINA:before {
    content: "\e948";
}

.tsm-icon-TERMOCRO:before {
    content: "\e949";
}

.tsm-icon-ROCK:before {
    content: "\e94a";
}

.tsm-icon-FOTOCRO:before {
    content: "\e94b";
}

.tsm-icon-CORK:before {
    content: "\e94c";
}

.tsm-icon-BURNOUT:before {
    content: "\e94d";
}

.tsm-icon-DESCARGA:before {
    content: "\e94e";
}

.tsm-icon-CAMISA:before {
    content: "\e94f";
}

.tsm-icon-ESTILO:before {
    content: "\e950";
}

.tsm-icon-YARDA:before {
    content: "\e951";
}

.tsm-icon-LIENZO:before {
    content: "\e952";
}

.tsm-icon-CORTADO:before {
    content: "\e953";
}

.tsm-icon-COMPOSICION:before {
    content: "\e954";
}

.tsm-icon-ROLLO:before {
    content: "\e955";
}

.tsm-icon-CONSTRUCCION:before {
    content: "\e956";
}

.tsm-icon-CLIENTE:before {
    content: "\e957";
}

.tsm-icon-NOMBRE-DI:before {
    content: "\e958";
}

.tsm-icon-TALLAS:before {
    content: "\e959";
}

.tsm-icon-ALTO:before {
    content: "\e95a";
}

.tsm-icon-ANCHO:before {
    content: "\e95b";
}

.tsm-icon-TELA-SUST:before {
    content: "\e95c";
}

.tsm-icon-TELA-ORG:before {
    content: "\e95d";
}

.tsm-icon-ESTANDAR:before {
    content: "\e95e";
}

.tsm-icon-PANTONE:before {
    content: "\e95f";
}

.tsm-icon-LUZ-DE-EVALUACION:before {
    content: "\e960";
}

.tsm-icon-SO:before {
    content: "\e961";
}

.tsm-icon-DIMENSIONES:before {
    content: "\e962";
}

.tsm-icon-T-UNICA:before {
    content: "\e963";
}

.tsm-icon-T-PEQUENA:before {
    content: "\e964";
}

.tsm-icon-T-GRANDE:before {
    content: "\e965";
}

.tsm-icon-L-U30:before {
    content: "\e966";
}

.tsm-icon-L-TL84:before {
    content: "\e967";
}

.tsm-icon-L-D65:before {
    content: "\e968";
}

.tsm-icon-L-D50:before {
    content: "\e969";
}

.tsm-icon-OTROS:before {
    content: "\e96a";
}

.tsm-icon-Asset-283:before {
    content: "\e96b";
}

.tsm-icon-PANT:before {
    content: "\e96c";
}

.tsm-icon-ROPA-INTERIOR:before {
    content: "\e96d";
}

.tsm-icon-FALDA:before {
    content: "\e96e";
}

.tsm-icon-CINTURON:before {
    content: "\e96f";
}

.tsm-icon-SWEATER:before {
    content: "\e970";
}

.tsm-icon-MAMELUCO:before {
    content: "\e971";
}

.tsm-icon-SHORT:before {
    content: "\e972";
}

.tsm-icon-Asset-291:before {
    content: "\e973";
}

.tsm-icon-ELASTICOS:before {
    content: "\e974";
}

.tsm-icon-AGREGAR-PRENDA:before {
    content: "\e975";
}

.tsm-icon-TOP:before {
    content: "\e976";
}

.tsm-icon-TANK:before {
    content: "\e977";
}

.tsm-icon-LEGGINS:before {
    content: "\e978";
}

.tsm-icon-CAMISA-CORTA:before {
    content: "\e979";
}

.tsm-icon-EJECUTIVA:before {
    content: "\e97a";
}

.tsm-icon-ESTAMPADOR:before {
    content: "\e97b";
}

.tsm-icon-DISENADOR:before {
    content: "\e97c";
}

.tsm-icon-ESTAMPAR:before {
    content: "\e97d";
}

.tsm-icon-TINTAS-Y-MARCOS:before {
    content: "\e97e";
}

.tsm-icon-DISEO:before {
    content: "\e97f";
}

.tsm-icon-VER-DE-SOL:before {
    content: "\e980";
}

.tsm-icon-REV-TECNICA:before {
    content: "\e981";
}

.tsm-icon-SOL-DESA:before {
    content: "\e982";
}

.tsm-icon-P-TORQUE:before {
    content: "\e983";
}

.tsm-icon-P-CROCKING:before {
    content: "\e984";
}

.tsm-icon-P-ENCOGIMIENTO:before {
    content: "\e985";
}

.tsm-icon-P-MIGRACION:before {
    content: "\e986";
}

.tsm-icon-P-LAVADO:before {
    content: "\e987";
}

.tsm-icon-CAPILAR:before {
    content: "\e988";
}

.tsm-icon-EMULSION:before {
    content: "\e989";
}

.tsm-icon-TENSION:before {
    content: "\e98a";
}

.tsm-icon-SEDA-2:before {
    content: "\e98b";
}

.tsm-icon-PESO:before {
    content: "\e98c";
}

.tsm-icon-T-FLASH:before {
    content: "\e98d";
}

.tsm-icon-POWER-FLASH:before {
    content: "\e98e";
}

.tsm-icon-OFF-CONTACT:before {
    content: "\e98f";
}

.tsm-icon-PRESION-E:before {
    content: "\e990";
}

.tsm-icon-VELOCIDAD:before {
    content: "\e991";
}

.tsm-icon-ANGULO:before {
    content: "\e992";
}

.tsm-icon-DUREZA-ES:before {
    content: "\e993";
}

.tsm-icon-ESCURRIDOR:before {
    content: "\e994";
}

.tsm-icon-RHINESTONES:before {
    content: "\e995";
}

.tsm-icon-NYLON:before {
    content: "\1f310";
}
