
@{
    ViewBag.Title = "Kanban de Proceso";
    ViewBag.IdVersion = "TSM0101091|v20052301";
}
@section Scripts {
    <script src="~/Scripts/Utils/sortable.min.js"></script>
    <script src="~/Scripts/js/OrdenesTrabajosTerminadas.js?@ViewBag.IdVersion"></script>
}
<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="form-row">
                    <div class="form-group col-lg-3">
                        <div class="form-row">
                            <div class=" form-group col-lg-4">
                                <label for="dFechaDesde">Fecha Desde:</label>
                                <input id="dFechaDesde" name="dFechaDesde" class="form-control" />
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="dFechaHasta">Fecha Hasta:</label>
                                <input id="dFechaHasta" name="dFechaHasta" class="form-control" />
                            </div>
                            <div class="form-group col-lg-4 align-self-end">
                                <input type="checkbox" id="chkRangFechas" name="chkRangFechas" class="k-checkbox">
                                <label class="k-checkbox-label" for="chkRangFechas" id="lblchkRangFechas">Rango de Fechas</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-lg-3">
                        <label for="CmbCliente">Cliente</label>
                        <input id="CmbCliente" name="CmbCliente" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="CmbPrograma">Programa:</label>
                        <input id="CmbPrograma" name="CmbPrograma" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="CmbOrdenTrabajo">Orden de Trabajo:</label>
                        <input id="CmbOrdenTrabajo" name="CmbOrdenTrabajo" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-3 align-self-end">
                        <input type="checkbox" id="chkVerTodas" name="chkVerTodas" class="k-checkbox">
                        <label class="k-checkbox-label" for="chkVerTodas">Solo Asignadas </label>
                    </div>
                </div>
                <div class="form-row">
                    <div id="myKanban" class="board">
                        @*espacio para dibujar el kanban*@
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
