
@{
    ViewBag.Title = "Consulta Log de Auditoria de Tablas";
    ViewBag.IdVersion = "TSM0101133|v22062101";
}

@section Scripts {
    <script src="~/Scripts/js/Auditoria_log.js"></script>    
}


<div class="form-row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="row mb-3">
                    <div class="col-lg-4">
                        <label for="cmbTabla">Tabla:</label>
                        <input id="cmbTabla" name="cmbTabla" class="form-control" />
                    </div>
                    <div class="col-lg-8">
                        <div id="daterangepicker" title="daterangepicker"></div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <div id="grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

