
@{
    ViewBag.Title = "Perfiles Agrupaciones Ventas";
    ViewBag.IdVersion = "TSM0101155|v22112201";
}

@section Scripts{
    <script src="~/Scripts/js/PerfilesAgrupacionesVentas.js"></script>
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="gridPAV">Perfil Agrupación Ventas:</label>
                                <div id="gridPAV"></div>
                            </div>
                            <div class="col-lg-6">
                                <label for="gridPAVC">Perfil Agrupación Ventas Cliente:</label>
                                <div id="gridPAVC"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>