@{
    ViewBag.Title = "Plantillas Pedidos Ventas";
    ViewBag.IdVersion = "TSM0101153|v22111601";
}
@section Scripts {
    <script src="~/Scripts/js/PlantillasPedidosVentas.js?@ViewBag.IdVersion"></script>
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="gridPPV">Plantillas Pedidos Ventas:</label>
                                <div id="gridPPV"></div>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="gridPPVV">Plantillas Pedidos Ventas Variables:</label>
                                <div id="gridPPVV"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-12">
                                <label for="gridPPVC">Plantillas Pedidos Ventas Clientes:</label>
                                <div id="gridPPVC"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
